body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 40px;
    margin-bottom: 30px;
}

.wrapper button {
    cursor: pointer;
    margin-right: 20px;
    padding: 10px 20px;
    color: blue;
    font-size: 20px;
    border-radius: 3px;
    outline: none;
    background-color: rgb(221, 230, 238);
    border: none;
}

.wrapper p {
    font-size: 25px;
    color: blue;
}

