html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  padding: 25px 0;
  color: #000;
}

.container {
  max-width: 870px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__menu {
  display: flex;
  justify-content: right;
  /* margin-bottom: 114px; */
  margin: 0px -88px 114px 0px;
}

.header__menu-item {
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.header__menu-item:not(:last-child) {
  margin-right: 33px;
}


.header__title {
  font-weight: 700;
  font-size: 44px;
  font-family: inherit;
  margin-bottom: 40px;
  color: #21243D;
}

.header__body-item {
  max-width: 500px;
}

.header__subtitle {
  color: #21243D;
  margin-bottom: 38px;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}

.header__body-right {
  position: relative;
}

.header__body-right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 13px;
  left: -4px;
  border-radius: 50%;
  background-color: #EDF7FA;
  z-index: -1;
}

.header__btn {
  display: inline-block;
  padding: 9px 21px;
  border-radius: 2px;
  background-color: #FF6464;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
}

/* /////section design/// */

.design {
  background-color: #EDF7FA;
  padding-bottom: 32px;
  /* padding: 30px 0; */
}

.design__header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.design__header-recent {
  font-size: 22px;
  /* line-height: 37%; */
  font-weight: 400;
  cursor: pointer;
}

.design__header-view {
  font-size: 16px;
  font-family: inherit;
  color: #00A8CC;
  cursor: pointer;
}

.card__title {
  font-size: 26px;
  font-weight: 600;
  color: #21243D;
  margin-bottom: 37px;
}

.card__descr {
  display: flex;
  /* justify-content: space-between; */

  gap: 58px;
}

.card__date-descr {
  position: relative;
}

.card__date-descr::before {
  content: '|';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px
}

.card__descr {
  font-weight: 400;
  font-size: 18px;
  font-family: inherit;
  color: #21243D;
  margin-bottom: 21px;
}

.design__header-card {
  max-width: 410px;
  background-color: #fff;
  padding: 24px 23px 35px 23px;
  border-radius: 4px;
}

.design__header-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.featured__title {
  color: #21243D;
  font-size: 22px;
  font-style: inherit;
  padding: 32px 0px;
}

.featured__item {
  display: flex;
  gap: 18px;
  padding-bottom: 35px;

  border-bottom: 1px solid #E0E0E0;
}

.featured__item:not(:last-child) {
  margin-bottom: 31px;
}

.featured-img {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}

.featured__descr-title {
  font-size: 30px;
  font-weight: 600;
  color: #21243D;
  /* margin-bottom: 0px; */
}


.featured__descr-board {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 14px;
}

.featured__descr-date {
  padding: 1px 13px;
  font-weight: 700;
  color: #fff;
  border-radius: 16px;
  background-color: #142850;
}

.featured__descr-depiction {
  font-size: 20px;
  color: #8695A4;
  font-weight: 400;
}

.main {
  margin-bottom: 134px;
}

.footer__inner-items {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.footer__inner-item img {
  width: 30px;
  height: 30px;
}

.footer__inner-item:not(:last-child) {
  margin-right: 35px;
}

.footer__copyright {
  text-align: center;
}





/*media zaprosi*/

@media (max-width: 1047px) {
  .header__menu {
    margin-right: -68px;
  }
}

@media (max-width: 1000px) {
  .header__menu {
    margin-right: -48px;
  }
}

@media (max-width: 968px) {
  .header__menu {
    margin-right: -28px;
  }
}

@media (max-width: 930px) {
  .header__menu {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .header__body {
    flex-wrap: wrap-reverse;
  }

  .header__body-item {
    max-width: 100%;
    text-align: center;
  }

  .header__body-right {
    margin: 0 auto;
  }

  .header__body-item {
    margin-bottom: 35px;
  }

  /*--------------*/
  .burger-menu {
    margin-left: auto;
  }

  /* body.lock {
    overflow: hidden;
} */

  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #d2d2d2;
    overflow: auto;
    z-index: 1;
    transition: all .1s ease-in-out;
  }

  .header__menu {
    display: block;
    padding: 50px 0px 0px 30px;
  }

  .header__menu-item {
    font-size: 52px;
    color: #fff;
  }

  .header__menu.active {
    left: 0;
  }

  /*----------------*/

  /*-------------menu-------*/
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #21243D;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all .3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #21243D;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }


  /*strelki*/
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    scale: 0;
  }

  /*strelki*/

  /*borger_menu*/
  /*--------------------*/
}



/* font-family: "Heebo", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal; */