html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.wrapper {
    margin-top: 100px;
}

.container {
    max-width: 610px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper__inner {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
}

.wrapper__inner .item {
    width: 112px;
    height: 112px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    cursor: move;
    border: 1px solid #d2d2d2;
    padding: 8px;
    /* position: relative; */
}

/* .wrapper__inner .item.active {
    position: fixed;
    
} */

/* .fixed {
    position: fixed;
} */

.decore {
    border: 1px dashed #d2d2d2;
}

.item__header {
    text-align: right;
}

.item__body {
    margin-top: auto;
    text-align: center;
}


.wrapper__inner .item:active {
    background-color: #e8e8e8;
}


/*///////////////////////////////*/

.draggable.dragging {
    /* transition: .3s all ease-in-out; */
    opacity: .5;
}
