@font-face {
    font-family: 'Cambria__android';
    src: url('../fonts/Cambria.eot');
    src: url('../fonts/Cambria.eot?#iefix') format('embedded-opentype'),
        /* url('../fonts/Cambria.woff2') format('woff2'), */
        url('../fonts/Cambria.woff') format('woff'),
        url('../fonts/Cambria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cambria__linux';
    src: url('../fonts/Cambria_1.eot');
    src: url('../fonts/Cambria_1.eot?#iefix') format('embedded-opentype'),
        /* url('../fonts/Cambria_1.woff2') format('woff2'), */
        url('../fonts/Cambria_1.woff') format('woff'),
        url('../fonts/Cambria_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cambria__mac';
    src: url('../fonts/Cambria_2.eot');
    src: url('../fonts/Cambria_2.eot?#iefix') format('embedded-opentype'),
        /* url('../fonts/Cambria_2.woff2') format('woff2'), */
        url('../fonts/Cambria_2.woff') format('woff'),
        url('../fonts/Cambria_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cambria__windows';
    src: url('../fonts/Cambria_3.eot');
    src: url('../fonts/Cambria_3.eot?#iefix') format('embedded-opentype'),
        /* url('../fonts/Cambria_3.woff2') format('woff2'), */
        url('../fonts/Cambria_3.woff') format('woff'),
        url('../fonts/Cambria_3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}