body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}



.element {
   position: relative;
}

/* .element::before {
 content: '';
 position: absolute;
 width: 100px;
 height: 100px;
 border: 1px solid #000;
 border-radius: 50%;
} */

/* svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

circle {
    stroke: green;
    stroke-dashoffset: -30;
    stroke-dasharray: 200;

    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    /* transform: translate(5px, 5px); */
}

.progress {
    width: 200px;
    height: 5px;
    border-radius: 2px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}

.progress::after {
    content: '';
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: green;
}







/*outline: 24px solid #494049;
outline-offset: 3px;


 background: conic-gradient(#002F65) calc(calc(40 / 100) * 360deg), transparent calc(calc(40 / 100) * 360deg));


background: linear-gradient(to right, #ff0000 50%, #00ff00 50%);


<svg>
<circle cx="38" cy="38" r="36"></circle>
</svg>


main .analyse svg {
    width: 7rem;
    height: 7rem;
}

main .analyse .sales svg circle {
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}


main .analyse svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}*/