@import url(../css/null.css);


body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: 16px;

    background-color: #161625;

    /* card: color #f86048; 
    btncolor   #febd3f;
    
    */

}


.card {
    padding-top: 20px;
}

.container {
    max-width: 580px;
    margin: 0 auto;
    padding: 0 5px;
}

/* .card__items {
    display: none;
} */

.card__inner {
    position: relative;
}

.card__header {
    background-color: #f86048;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    padding: 30px 45px 60px 45px;
    display: flex;
    justify-content: space-between;
}

.card__img img {
    width: 144px;
    height: 144px;
    border-radius: 50%;
}

.card__descr {
    padding-top: 20px;
    color: #fff;
}

.card__descr-title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
}

.card__descr-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
    max-width: 220px;
}



.card__footer {
    background-color: #d24332;
    border-radius: 0px 0px 10px 10px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 40px;
    margin-bottom: 20px;
}

.card__footer p {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline;
}

.card__btn {
    width: 100px;
    height: 100px;
    background-color: #febd3f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 185px;
    right: 30px;
    cursor: pointer;
    transition: .2s ease-in-out;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.card__btn p {
    display: none;
}

.card__btn.active p {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: #f86048;
    font-weight: 500;
}

.card__btn.active i {
    display: none;
}

.card__btn.active {
    width: 321px;
    height: 80px;
    border-radius: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 193px;
}

.card__footer.active {
    display: none;
}

.card__items.active {
    display: none;
}

.card__header.active {
    border-radius: 10px;
}



@media (any-hover: hover) {
    .card__btn:hover {
        background-color: #dea941;
    }
}

.card__btn:active,
.card__btn:focus {
    background-color: #dea941;
}

.card__btn i {
    font-size: 45px;
    color: #d24332;
}

.card__item {
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 30px;
    padding-right: 45px;

    background-color: #fff;
    border-radius: 10px;
}

.card__item:not(:last-child) {
    margin-bottom: 15px;
}

.card__item-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item__left-title {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 500;
}

.item__left-subtitle {
    font-size: 15px;
    color: #bbbdbe;
}

.card__item-icon i {
    font-size: 35px;
    color: #bbbdbe;
}

@media (max-width: 540px) {
    .card__img img {
        width: 130px;
        height: 130px;
    }

    .card__descr-title {
        font-size: 30px;
    }

    .card__btn {
        width: 90px;
        height: 90px;
        top: 187px;
    }

    .card__btn.active {
        top: 190px;
    }


}

@media (max-width: 490px) {
    .card__img img {
        width: 110px;
        height: 110px;
    }

    .card__descr-title {
        font-size: 25px;
    }

    .card__btn {
        width: 85px;
        height: 85px;
        top: 187px;
    }


    .card__header {
        padding: 30px 35px 60px 35px;
    }

    .card__item {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right: 40px;
    }

    .card__btn.active {
        top: 195px;
        width: 283px;
        height: 63px;
    }

    .item__left-title {
        font-size: 23px;
    }

}

@media (max-width: 440px) {

    .card__header {
        padding: 30px 20px 60px 20px;
    }
}


@media (max-width: 420px) {

    .card__footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .card__btn {
        width: 75px;
        height: 75px;
    }

    .card__item {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .card__item-left img {
        width: 70px;
        height: 70px;
    }

    .item__left-title {
        font-size: 19px;
    }

    .card__item {
        padding-right: 30px;
    }
}

@media (max-width: 410px) {

    .card__header {
        padding: 22px 15px 51px 15px;
    }

    .card__btn {
        top: 175px;
    }

    .card__btn.active {
        top: 175px;
    }
}

@media (max-width: 390px) {
    .card__img img {
        width: 100px;
        height: 100px;
    }

    .card__descr {
        padding-top: 10px;
    }

    .card__btn {
        top: 168px;
    }

    .card__btn.active {
        top: 168px;
    }

    .card__footer {
        margin-bottom: 10px;
    }

    .card__item:not(:last-child) {
        margin-bottom: 8px;
    }

    .card__btn {
        width: 70px;
        height: 70px;
    }

    .card__btn i {
        font-size: 37px;
    }

    .card__header {
        padding: 22px 10px 51px 10px;
    }
}

@media (max-width: 370px) {
    .card__img img {
        width: 90px;
        height: 90px;
    }

    .card__descr-title {
        font-size: 21px;
    }

    .card__descr-title {
        margin-bottom: 10px;
    }

    .card__descr-text {
        font-size: 13px;
    }

    .card__btn {
        width: 60px;
        height: 60px;
    }

    .card__btn {
        top: 130px;
    }

    .card__btn.active {
        top: 130px;
    }

    .card__footer {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .card__footer p {
        font-size: 18px;
    }

    .card__footer {
        padding-left: 28px;
    }

    .card__btn.active {
        top: 134px;
        width: 237px;
        height: 54px;
    }

    .card__item-left img {
        width: 65px;
        height: 66px;
    }

    .card__item-icon i {
        font-size: 30px;
    }
}

@media (max-width: 350px) {
    .card__img img {
        width: 75px;
        height: 75px;
    }

    .card__descr-title {
        font-size: 20px;
    }

    .card__descr-text {
        font-size: 12px;
    }

    .card__item {
        padding-right: 20px;
        padding-left: 8px;
    }

    .card__btn {
        top: 125px;
    }

    .card__btn.active {
        top: 125px;
    }

    .item__left-title {
        font-size: 17px;
    }

    .item__left-subtitle {
        font-size: 13px;
    }
}

@media (max-width: 340px) {
    .card__img img {
        width: 70px;
        height: 70px;
    }

    .card__item {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

@media (max-width: 330px) {
    .card__header {
        padding: 22px 5px 51px 5px;
    }

    .card__btn {
        width: 55px;
        height: 55px;
    }

    .card__btn i {
        font-size: 32px;
    }
}