@import url('../css/header.css');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    font-family: "Play", sans-serif;
    font-size: 20px;
    min-height: 100%;
    background: url("../img/background.webp") 0 0 no-repeat;
    /* background-size: cover;
    background-position: center; */
    position: relative;
}





.body__links-wrap {
    padding: 9px 12px;
    position: fixed;
    top: 186px;
    right: 0px;
    background: rgba(29, 1, 65, 0.6);
    border-radius: 20px 0px 0px 20px;

}

.body__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body__links-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10.6176px #00FFE1) drop-shadow(0px 0px 3.0336px #00FFE1) drop-shadow(0px 0px 1.5168px #00FFE1);
    animation: stickyanimate 1.3s linear infinite;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes stickyanimate {
    0% {
        filter: drop-shadow(0px 0px 10.6176px #00FFE1) drop-shadow(0px 0px 2.0336px #00FFE1) drop-shadow(0px 0px 1.5168px #00FFE1);
    }

    50% {
        filter: drop-shadow(0px 0px 10.6176px #00FFE1) drop-shadow(0px 0px 5.0336px #00FFE1) drop-shadow(0px 0px 2.5168px #00FFE1);
    }

    100% {
        filter: drop-shadow(0px 0px 10.6176px #00FFE1) drop-shadow(0px 0px 2.0336px #00FFE1) drop-shadow(0px 0px 1.5168px #00FFE1);
    }
}


.body__links-item:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.container {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 10px;
}



/* ----------------------------- */
.pagecrm__crm {
    /* margin-bottom: 120px; */
    position: relative;
}

.pagecrm__crm::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/crm/bg.webp") center center no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    /* overflow: hidden; */
}

.pagecrm__crm-breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #E9DEFF;
}

.pagecrm__crm-breadcrumb img {
    display: flex;
    padding-top: 1px;
}

.pagecrm__crm-breadcrumb>*:hover,
.pagecrm__crm-breadcrumb>*:active {
    text-shadow: 0px 0px 20px #D795FF, 0px 0px 4px #D795FF;
    color: #fff;
    cursor: pointer;
}

.pagecrm__crm-breadcrumb {
    margin-bottom: 134px;
}

.pagecrm__crm-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagecrm__crm-title {
    font-size: clamp(2.5rem, 2.125rem + 1.875vw, 4rem);
    color: #fff;
    line-height: 150%;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;

    text-shadow: 0px 0px 30px #D795FF, 0px 0px 1px #D795FF;
}



.pagecrm__crm-img img {
    max-width: clamp(18.75rem, 12.406rem + 31.719vw, 44.125rem);
    height: auto;
}

.pagecrm__crm-img {
    margin-bottom: 50px;
}

.pagecrm__crm-btn {
    padding: clamp(0.625rem, 0.469rem + 0.781vw, 1.25rem) 40px;
    border-radius: 20px;
    font-size: clamp(0.875rem, 0.719rem + 0.781vw, 1.5rem);
    color: #fff;
    text-transform: uppercase;

    border: 1px solid transparent;
    background: linear-gradient(#6d5289e6, #6d5289e6) padding-box,
        linear-gradient(to right, #383fec, #23ffff) border-box;
    box-shadow: 0px 0px 10px #D795FF;
    backdrop-filter: blur(50px);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.pagecrm__crm-btn:active {
    scale: .99;
}

/* .pagecrm__crm-title {
    text-align: center;
} */

/* ----------------------------- */

