*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}/*ubiraet krestik u iternet explorera v input text*/
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
/*sbrasivaem vse brauzernie stili*/

body{
    padding: 30px;
}
.text{
    font-size: 24px;
    line-height: 33px;
    margin: 0px 0px 30px 0px;
}
.text:first-line{/*psevdoelement first-line - pervoya stroka mojno : mojno :: ne budet oshibka*/
color:green;
}
.text::first-letter{/*psevdoelement first-letter obrashenie k pervoi bukve*/
    font-size: 68px;
    color:red;
}


.list{}

.list li{
    font-size: 24px;
    margin: 0px 0px 20px 0px;
}

.list li::before{ /*psevdoelement before vivodit content do elementa i robotaet s content: '';*/
    content: '<';
}
.list li::after{/*psevdoelemet after vivodit content posle elementa*/
content: '>';
}

.list li::before{/*dobavlyaem v nachalo list li content krugli sharik*/
    content: '';/*obizatelni parametr ato pereresuet*/
/*/////////*/
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    display: inline-block; /*delaet element strochnim i na nego budut deistvovat vse svoistva block*/
    margin: 0px 10px 0px 0px;/*dobavlyaem padding k kruglishku*/
/*//////////*/
}
.list li:hover::before{ /*psevdoelemet s psevdoklasom*/
    background:green;
}

.list li:hover{
    color: green;
}