@font-face {
    font-family: 'Gobold CUTS';
    src: url('GoboldCUTS.eot');
    src: url('GoboldCUTS.eot?#iefix') format('embedded-opentype'),
        url('GoboldCUTS.woff2') format('woff2'),
        url('GoboldCUTS.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gobold';
    src: url('Gobold.eot');
    src: url('Gobold.eot?#iefix') format('embedded-opentype'),
        url('Gobold.woff2') format('woff2'),
        url('Gobold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gobold Extra2';
    src: url('GoboldExtra2.eot');
    src: url('GoboldExtra2.eot?#iefix') format('embedded-opentype'),
        url('GoboldExtra2.woff2') format('woff2'),
        url('GoboldExtra2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gobold Uplow';
    src: url('GoboldUplow.eot');
    src: url('GoboldUplow.eot?#iefix') format('embedded-opentype'),
        url('GoboldUplow.woff2') format('woff2'),
        url('GoboldUplow.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gobold High';
    src: url('GoboldHighBold.eot');
    src: url('GoboldHighBold.eot?#iefix') format('embedded-opentype'),
        url('GoboldHighBold.woff2') format('woff2'),
        url('GoboldHighBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gobold Lowplus';
    src: url('GoboldLowplus.eot');
    src: url('GoboldLowplus.eot?#iefix') format('embedded-opentype'),
        url('GoboldLowplus.woff2') format('woff2'),
        url('GoboldLowplus.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gobold Extra1';
    src: url('GoboldExtra1.eot');
    src: url('GoboldExtra1.eot?#iefix') format('embedded-opentype'),
        url('GoboldExtra1.woff2') format('woff2'),
        url('GoboldExtra1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gobold Thin';
    src: url('GoboldThinLight.eot');
    src: url('GoboldThinLight.eot?#iefix') format('embedded-opentype'),
        url('GoboldThinLight.woff2') format('woff2'),
        url('GoboldThinLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gobold1';
    src: url('GoboldBold.eot');
    src: url('GoboldBold.eot?#iefix') format('embedded-opentype'),
        url('GoboldBold.woff2') format('woff2'),
        url('GoboldBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gobold2';
    src: url('GoboldThin.eot');
    src: url('GoboldThin.eot?#iefix') format('embedded-opentype'),
        url('GoboldThin.woff2') format('woff2'),
        url('GoboldThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

