*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*sbrasivaem vse brauzernie stili*/

.text1{
    margin: 0px 0px 30px 0px;
}
.link1{
    display: block;
    margin: 0px 0px 30px 0px;
}
.text2{
    margin: 0px 0px 30px 0px; 
    
}
.text3{
    margin: 30px 0px 0px 0px;
    display: inline-block;
    
}
.text4{
    display: inline;
   
}
.span{
    display: block;
    margin: 30px 0px 0px 0px;
    
}
.link2{
      display: inline;
}