@import url(./fonts.css);
@import url(./null.css);

[class*="__container"] {
    padding-inline: 10px;
    margin: 0 auto;
    max-width: 1044px;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    padding-block: 20px 10px;
}

.wrapper__slider {
    width: 470px;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

.wrapper__title {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    line-height: 140%;
    margin-bottom: 10px;
}

.slider__items {
    display: flex;
   
    
}

.slider__item {
    padding: 15px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    background-color: #fff;
    cursor: pointer;
    min-width: 150px;

    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.slider__item {
    margin-right: 10px;
}

.slider__item-header {
    font-family: 'Roboto-Bold', sans-serif;
    text-transform: uppercase;
    color: #151515;
}

.slider__item-body {
    text-align: center;
}

.slider__item-footer {
    font-size: 10px;
    font-style: italic;
    color: #151515;
}