* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*sbrasivaem vse brauzernie stili*/

body{
    background-color: #eee;
}
.container {
    width: 842px;
    height: 1472px;
    margin: 0 auto;
    padding: 126px 0px 104px 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.txt {
    font-family: arial;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.list {
    margin: 0px 0px 76px 0px;
}

.list li {
    font-size: 20px;
    margin: 0 0 15px 0;
    background: url('img/li_green.svg') left top/auto no-repeat;
    padding-left: 30px;

}

.list li:nth-child(1) {
    text-decoration: line-through;
}

.list li:nth-child(2) {
    font-weight: 600;
}

.list li:nth-child(3) {
    font-style: italic;
}

.list li:nth-child(4) {
    text-transform: uppercase;
}
.list2 li:last-child{
    margin: 0 0 141px 0;
}

.list2 li {
    font-size: 20px;
    margin: 0px 0px 15px 0px;
    background: url('img/li_green.svg') left top/auto no-repeat;
    padding: 0px 0px 0px 30px;
}

.list2 li:hover {
    background: url('img/li_red.svg') left top/auto no-repeat;
    cursor: pointer;
    color: red;
}

.btn{
    background:rgb(128, 183, 179);  
    color: white;
    margin: 0 97px 0 18px;

}

.click{
    background:rgb(128, 183, 179); 
    color: white;
    margin-right: 97px;
}

.hover{
    background:rgb(128, 183, 179); 
    color: white;
}

.knop{
    display: inline-block;
    width: 199px;
    height: 44px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 14px; 
}

.click:hover{
    background:#666;
    color: red;
}

.hover:active{
    background:#666;
    color: red;
}
.knopki{
    margin-bottom: 122px;
}

.edt1{
    width: 292px;
    height: 50px;
    padding: 0 10px;
    font-size: 15px;
    border: 1px solid rgb(116, 114, 114);
    margin-right: 81px;
}
.edt2{
    width: 292px;
    height: 50px;
    padding: 0 10px;
    font-size: 15px;
    border: 1px solid rgb(116, 114, 114);
}
.edt2:focus{
    box-shadow: 0 0 10px rgb(47, 173, 47);
}