html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}

.menu__list {
    display: flex;
}


.menu__item-link {
    color: #fff;
}

.menu__item:not(:last-child) {
    margin-right: 45px;
}

.contacts__header-item {
    color: #fff;
    font-weight: 400;
    font-size: inherit;
    padding-left: 34px;
}

.contact__header-phone {
    background: url(../img/phone.svg) 0 0 no-repeat;
}


.header__inner-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 24px;
}

.header__content {
    padding: 92px 0 265px;
}

.header__inner-text {
    color: #fff;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.header__inner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header__inner-btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 38px 65px 38px;
    background: #3A4574;
    transition: all 0.4s;
    border: 1px solid transparent;
}

.header__inner-menu {
    display: flex;
}

.header__inner-item:not(:last-child) {
    margin-right: 25px;
}


.header__inner-link {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.view__inner__title {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
}

.view__inner-text {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}


.circles {
    position: relative;
}


.circles::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #D3B47F;
    border-radius: 50%;
    margin: 0 12px;
    /* Отступ между кругами и текстом */
    position: relative;
    top: -3px;
    /* Регулировка вертикального выравнивания кругов */
}

.circles::before {
    margin-right: 12px;
}

.circles::after {
    margin-left: 12px;
}

.view {
    margin-top: 80px;
}

.view__inner-item {
    border-bottom: 1px solid #E7E7E7;
    max-width: 501px;

}


.view__items {
    display: flex;
}

.decore__image {
    display: flex;
}

.view__inner-decore {
    padding-left: 32px;
}

.decore__image img:first-child {
    transform: translateY(175px);
    padding-right: 22px;
}

.decore__image {
    position: relative;
}


.view__decore {
    position: absolute;
    top: 51px;
    left: 129px;
    width: 471px;
    height: 502px;
    border: 1px solid #D3B47F;
    z-index: -1;
}

.service {
    width: 100%;
    background-color: #3A4574;
    margin-top: 263px;
    padding: 220px 0;
}

.service__inner-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.service__icon {
    padding-bottom: 34px;
    width: 83px;
    height: auto;
}

.service__title {
    font-weight: 600;
    font-size: 36px;
    color: #D3B47F;
    padding-bottom: 20px;
}

.service__text {
    max-width: 785px;
    font-size: inherit;
    line-height: 200%;
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

.service__footer {
    color: #D3B47F;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
}


.food {
    margin: 109px 0px 80px;
}

.food__inner {
    display: flex;
}

.food__inner-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
    position: relative;

}

.food__title {
    color: #000;
    line-height: 88px;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;

}

.food__text {
    color: #808080;
    line-height: 32px;
    max-width: 476px;
}

.food__text {
    max-width: 490px;
}

.food__image {
    max-width: 670px;
}






.food__decore {
    position: absolute;
    width: 108px;
    height: 3px;
    background-color: #D3B47F;
    top: 264px;
    left: -52px;
}


.food__inner:not(:last-child) {
    margin-bottom: 30px;
}


.food__inner-collection:nth-child(2) {
    padding-left: 30px;
}

.food__decore-middle:nth-child(2) {
    left: -22px;
}

.slider {
    width: 100%;
    background-color: #3A4574;
    height: 605px;
    margin-top: 80px;
}

.slider__inner-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__panel {
    max-width: 569px;
}


.slider__inner-title {
    color: #fff;
    font-weight: 600;
    line-height: 88px;
    font-size: 48px;
}

.slider__inner-text {
    color: #fff;
}

.slider__images {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slider__item:not(:last-child) {
    padding-right: 20px;
}

.slider__container {
    max-width: 1920px;
    margin: 0 auto;
}


.contancts {
    margin-top: 327px;
}

.contact__inner {
    display: flex;
    justify-content: space-between;
}

.contact__title {
    line-height: 88px;
    font-size: 48px;
    font-weight: 700;
}

.contact__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    background-color: #D3B47F;
    border-radius: 50%;
}

.contact__address {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.contact__address-title {
    line-height: 32px;
    color: #2E2E2E;
}

.contact__address-info {
    line-height: 32px;
    font-size: 24px;
    color: #2E2E2E;
    font-weight: 500;
}

.contact__address:not(:last-child) {
    padding-bottom: 40px;
}


.contact__form-title {
    color: #000;
    font-weight: 700;
    font-size: 48px;
    line-height: 88px;
}


.contact__group {
    display: flex;
    margin-top: 29px;
    padding-bottom: 20px;
    gap: 19px;
}

.contact__group-item,
.contact__group-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact__lab {
    line-height: 32px;
    font-family: inherit;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.contact__group-item input {
    border: 1px solid #CCCCCC;
    padding: 32px 16px;
    width: 320px;
}

.contact__group-item input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}

.contact__group-area textarea::placeholder {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    color: #808080;
}

.contacts__area {
    width: 670px;
    resize: none;
    height: 125px;
    padding: 28px 16px;
    border: 1px solid #CCCCCC;
}

.contact__btn {
    margin-top: 20px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    padding: 37px 106px;
    background: #3A4574;
    transition: all 0.4s;
    border: 1px solid transparent;
    cursor: pointer;
}


.footer {
    margin-top: 50px;
}

.footer__info {
    padding-top: 40px;
}

.footer__info-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__social {
    border: 1px solid #000;
    color: #000;
}


.menu_header__contact {
    display: none;
}

.menu__header-inner {
    display: none;
}

.service__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*===========slider__=================================*/
/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

.service__wrapper .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -23px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 21px;
    height: 46px;
}

.service__wrapper .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/left_arr.svg') 0 0 / 100% no-repeat;
}

.service__wrapper .slick-arrow.slick-next {
    right: 0;
    background: url('../img/right_arr.svg') 0 0 / 100% no-repeat;
}

.service__wrapper {
    position: relative;
    padding: 0px 60px;
}

.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider__item img{
	max-width: 100%;
}

/*===========slider__=================================*/

@media (max-width: 1100px) {

    .view__inner {
        display: none;
    }

    .view__items {
        justify-content: center;
    }

    .view__inner-decore {
        padding-left: 0;
    }
}

@media (max-width: 1000px) {
    .header__inner-text {
        font-size: 50px;
    }
}

@media (max-width: 946px) {
    .header__contact {
        display: none;
    }

    .header__inner-text {
        font-size: 30px;
    }

    .header__inner-title {
        font-size: 18px;
    }
}




@media (max-width: 768px) {

    /*borger_menu*/
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: #ff0000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all .3s ease 0s;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #ff0000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }


    /*strelki*/
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        scale: 0;
    }

    /*strelki*/

    /*borger_menu*/



    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #379AD6;
        padding: 70px 10px 20px 20px;
        transition: all .3s ease 0s;
    }

    .menu.active {
        left: 0;
    }

    /* ===================================== */






    .header__inner-btn {
        font-size: 17px;
        padding: 11px 21px 11px;
    }

    .header__inner-link {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-weight: 500;
        font-size: 15px;
    }

    .header__inner {
        height: 70px;
    }

    .menu__list {
        display: block;
        max-width: 90%;
    }

    .menu__item:not(:last-child) {
        margin-bottom: 12px;
        margin-right: 0px;

    }

    .menu__item {
        border-bottom: 1px solid #7a7676;
        padding-bottom: 13px;
    }


    .menu_header__contact {
        display: block;
        padding-top: 23px;
        padding-left: 20px;
    }

    .menu__header-inner {
        display: flex;
        justify-content: center;
        padding-top: 23px;
    }

    .menu__header-inner .header__inner-item:not(:last-child) {
        margin-right: 21px;
    }

    .menu__header-inner .header__inner-link {
        border: 1px solid #bfb08a;
    }

    @media (max-width: 512px) {
        .header__inner-text {
            font-size: 25px;
        }

        .header__inner-title {
            font-size: 16px;
        }
    }
}


@media (max-width: 695px) {
    .decore__image img:first-child {
        transform: translateY(0px);
        padding-right: 0px;
    }

    .decore__image {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .view__decore {
        display: none;
    }
}

@media (max-width: 472px) {
    .header__inner-menu {
        display: none;
    }
}


@media (max-width: 346px) {
    .logo img {
        width: 70%;
        height: auto;
    }

    .header__content {
        padding: 35px 0 265px;
    }

    .decore__image img {
        width: 85%;
        height: auto;
    }
}


/* slider   */