@import '../../style/variables.scss';

.app {
    &__header {
        display: flex;
        justify-content: space-between;
    }
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 80c569597 (-ajavascript_in_work)
=======

>>>>>>> efc8c6f2e (-amarvell_hook_component)
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 80c569597 (-ajavascript_in_work)
=======

>>>>>>> efc8c6f2e (-amarvell_hook_component)
        span {
            color: $main-color;
        }
    }
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 80c569597 (-ajavascript_in_work)
=======

>>>>>>> efc8c6f2e (-amarvell_hook_component)
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> efc8c6f2e (-amarvell_hook_component)

            li {
                margin: 0 8px;

<<<<<<< HEAD
=======
            li {
                margin: 0 8px;
>>>>>>> 80c569597 (-ajavascript_in_work)
=======
>>>>>>> efc8c6f2e (-amarvell_hook_component)
                a:hover {
                    color: $main-color;
                }
            }
        }
    }
}