@import url(./null.css);

body {
    font-size: 16px;
}

.clippath {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.clippath::before {
    content: '';
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(100% - 5px);
    background: rgb(42, 96, 147);

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
    z-index: 1;

}

.clippath::after {
    content: '';
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: tomato;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
    

}