/*background-color:  #f5f5f7
--color-fill-gray-tertiary
line color   #d2d2d7
*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

ul,
ol,
li {
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* font-family: 'Poppins', sans-serif; */
    background-color: #f5f5f7;

}

.wrapper {
    -webkit-tap-highlight-color: transparent;
      /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
      user-select: none;
}
.accordion {
    display: block;
    max-width: 530px;
    padding: 10px;
    font-size: 12px;
    color: #1d1d1f;
    /* background: unset;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; */
    -webkit-tap-highlight-color: transparent;
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
    user-select: none;
    margin-bottom: 20px;
}



.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0px;

}

.accordion__item:first-child {
    border-top: 1px solid #d2d2d7;
}

.accordion__item {
    border-bottom: 1px solid #d2d2d7;
    cursor: pointer;
    /*
    background: unset; */
  
}

/* .accordion__item:focus {
     outline-offset: 0;
    width: 1px;
    height: 1px; 
} */


.accordion__header i {
    margin-right: 8px;
    transition: all .2s ease-out;
    /* transition: transform .3s ease-out; */

}

/* .accordion__header .fa-plus{
    transition: all 6s ease-in-out;
}

.accordion__header .fa-minus{
    transition: all 6s ease-in-out;
} */

.accordion__item-title {
    font-weight: 600;
}

.accordion__descr {
    height: 0px;
    overflow: hidden;
    transition: all .3s ease-out;
}

/* .accordion__item.open .accordion__descr {
    transition: all .3s linear; 
} */


.accordion__descr p {
    padding-bottom: 16px;
}


/* tumbler */
.wrapper .wrap {
    width: 135px;
    border: 1px solid #0071e3;
    border-radius: 15px;
    -webkit-tap-highlight-color: transparent;

}
.wrapper .wrap__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.wrapper .wrap__inner .item {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 1px;
    cursor: pointer;

}

.wrapper .wrap__inner input {
    opacity: 1;
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
}

.wrapper .wrap__inner span {
    display: inline-block;
    text-transform: capitalize;
    font-size: 12px;
    color: #0071e3;
    font-weight: 400;
    min-width: 42px;
    text-align: center;
    padding: 1px 6px;
    cursor: pointer;
}


.wrapper .wrap__inner  input:checked + span {
    background-color: #0071e3;
    border-radius: 15px;
    color: #fff;
}

.wrapper .wrap {
   float: right;
   margin-right: 30px;
}
/* tumbler */