/*https://t.me/figma2html
https://t.me/from0to1com  silki na shabloni figma i sam kanal*/
/* https://www.youtube.com/watch?v=DEj6IvZLFUM&list=PLN2KCaMlZNdC8eipxblUb3vqh7GuG6ElK&index=19 */


/*nastroka emmet chtobi klasi bili pervimi settings.json

   "emmet.preferences": {
        "output.reverseAttributes": true
    }


    https://kenwheeler.github.io/slick/
    https://dimsemenov.com/plugins/magnific-popup/

*/