html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-family: inherit;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    position: relative;
    /* box-shadow: rgba(0, 0, 0, 0.075) 0 1px; 
    
    text #b1b0b5;
    0066ff green
    */
}

/* * {
    font-family: "Comfortaa", sans-serif; 
     font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #0049b6;
} */


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100svh !important;
    /* flex-grow: 1; */
}

.modal {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50%;
    width: 190px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: .8em;
    
    transition: all .3s ease-in-out;
    text-wrap: nowrap;
    
}

.modal.showmodal {
    animation: slideUp 0.1s ease-in-out forwards;
}

@keyframes slideUp {
    0% {
        bottom: 2.5%; /* Начальное положение внизу */
    }
    50% {
        bottom: 1.5%; /* Положение вверху */
    }
    100% {
        bottom: 2%; /* Положение вверху */
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    order: 1;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
}

.header__title {
    /* font-family: "Comfortaa", sans-serif; */
    font-family: "Federo", sans-serif;
    font-size: 40px;
    color: #0066ff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.header__title a {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.header__operations {
    display: flex;
    padding: 11px 0px 11px 40px;
    align-items: center;
    order: 2;
    gap: 30px;
}

.header__btn {
    color: #000;
    padding: 11px 10px;
    border-radius: 10px;
    font-weight: 600;
    /* box-shadow: inset #d8d8da 0 0 0 1px; */
    line-height: 100%;
    cursor: pointer;
    box-shadow: 0 0.025rem 0.25rem #00000052;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.header__btn:active,
.header__btn:focus {
    scale: 1.05;
}

.header__comunity {
    /* display: flex;
    align-items: center;
    gap: 10px; */
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
    position: relative;
}

.header__comunity::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 55%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    transform: translateY(-50%);
    left: -9px;
}

/* .header__comunity img {
    width: 18px;
    height: 14px;
} */

.header__comunity a {
    display: inline-block;
    min-width: 35px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}


.header__comunity a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.header__comunity a:active {
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all .2s ease-in-out;
    cursor: pointer;
}



/* .header__arrow-right img {
    transform: scaleX(-1);
} */

.main {
    display: flex;
    flex-grow: 1;
    order: 3;
    background-color: white;
}

.main .fa-arrows-left-right {
    display: inline;
}

.main .fa-arrows-up-down {
    display: none;
}


.main__item {
    flex-grow: 1;
    position: relative;
    /* border: 1px solid #000; */
}

.color__btns {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.color__box {
    cursor: pointer;
    padding: 7px;
    border-radius: 7px;
    display: block;
}

.color__box:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.color__box:active {
    background-color: rgba(0, 0, 0, 0.2);
    /* transition: transform 0.15s ease, background 0.1s; */
    transition: all .2s ease-in-out;
    cursor: pointer;
}


/* .color__btns img {
    width: 18px;
    height: 18px;
} */

.color__btns .item {
    min-width: 35px;
    min-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

}


.color__btns .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;

}

.color__btns .item:active {
    background-color: rgba(0, 0, 0, 0.2);
    /* transition: transform 0.15s ease, background 0.1s; */

    transition: all .2s ease-in-out;
    cursor: pointer;
}








.main__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.color__descr {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.color__descr .color {
    font-size: 30px;
    font-family: inherit;
    text-transform: uppercase;
    color: #000;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.color__descr .color__title {
    font-size: 11.2px;
    opacity: .6;
    cursor: pointer;
    text-align: center;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}



.one {
    background-color: #f7f4ea;
    position: relative;
}

.two {
    background-color: #ded9e2;
    position: relative;
}

.three {
    background-color: #c0b9dd;
    position: relative;
}

.four {
    background-color: #80a1d4;
    position: relative;
}

.five {
    background-color: #75c9c8;
    position: relative;
}



@media (max-width: 1300px) {
    .color__descr .color {
        font-size: 25px;
    }
}

@media (max-width: 1060px) {
    .main .color {
        font-size: 22px;
        line-height: 120%;
        display: block;
    }
}

@media (max-width: 980px) {

    .main .color__box {
        transform: rotate(90deg);
    }

    .color__title {
        display: none;
    }



    .color__btns .item:hover,
    .color__btns .item:visited,
    .color__btns .item:focus {
        background-color: transparent;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    .color__btns .item:active {
        background-color: rgba(0, 0, 0, 0.2);
        transition: all .3s ease-in-out;
        cursor: pointer;

        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;


    }


    .color__box:hover,
    .color__box:focus,
    .color__box:visited {
        background-color: transparent;
        cursor: pointer;

        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    .color__box:active {
        background-color: rgba(0, 0, 0, 0.2);
        transition: all .3s ease-in-out;
        cursor: pointer;

        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }


    .header__comunity a:hover {
        background-color: transparent;
    }

    .header__comunity a:active {
        background-color: unset;
        color: #0066ff;
        transition: transform 0.15s ease, background 0.1s;
        cursor: pointer;

        scale: 1.05;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    .header {
        min-height: 50px;
    }



}

@media (max-width: 769px) {
    .header {
        min-height: 70px;
    }

    .main {
        flex-direction: column;
        order: 2;
    }

    body .wrapper .header__operations {
        order: 3 !important;
    }

    .color__title {
        display: none;
    }

    .color__btns {
        position: static;
        display: flex;
        flex-direction: row;
    }

    .main__item {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0px 22px;
    }

    /* .color__descr .color {
        font-size: 16px;
        font-weight: 500;
    } */

    .header__operations {
        padding: 9px 0px 9px 10px;
    }

    /* .header__comunity {
        gap: 20px;
    } */

    /* .header__comunity a {
        min-width: unset;
        min-height: unset;

    } */

    .header__comunity a:hover {
        background-color: transparent;
    }

    .header__comunity a:active {
        background-color: unset;
        color: #0066ff;
        transition: transform 0.15s ease, background 0.1s;
        cursor: pointer;

        scale: 1.05;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    /* .main .fa-solid {
        color: rgba(132, 129, 120, .9);
    } */

    /* .header__comunity::before {
        left: -13px;
        height: 80%;
    } */

    .main .fa-arrows-left-right {
        display: none;
    }

    .main .fa-arrows-up-down {
        display: inline;
    }

    .main .color__box {
        font-size: 20px;
        /* font-weight: 500; */
        transform: rotate(0deg);
    }

    .main i {
        font-size: 20px;
        opacity: .6;
    }

    .color__btns .item:hover,
    .color__btns .item:focus,
    .color__btns .item:visited {
        background-color: transparent;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    .color__btns .item:active {
        background-color: rgba(0, 0, 0, 0.2);
        transition: all .3s ease-in-out;
        cursor: pointer;

        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;


    }


    .color__box:hover,
    .color__box:focus,
    .color__box:visited {
        background-color: transparent;
        cursor: pointer;

        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    .color__box:active {
        background-color: rgba(0, 0, 0, 0.2);
        transition: all .3s ease-in-out;
        cursor: pointer;

        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    .color__descr {
        position: static;
        transform: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}


.colorBlack {
    color: #000 !important;
}

.colorWhite {
    color: #fff !important;
}

/* .fa-solid.fa-lock {
    transform: scale(1.3);
} */