html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-family: inherit;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    /* box-shadow: rgba(0, 0, 0, 0.075) 0 1px; 
    
    text #b1b0b5;
    0066ff green
    */
}

/* * {
    font-family: "Comfortaa", sans-serif; 
     font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #0049b6;
} */


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    order: 1;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
}

.header__title {
    font-family: "Comfortaa", sans-serif;
    font-size: 50px;
    color: #0066ff;
    text-transform: uppercase;
    font-weight: 600;
}

.header__operations {
    display: flex;
    padding: 11px 0px 11px 40px;
    align-items: center;
    order: 2;
    gap: 30px;
}

.header__btn {
    color: #000;
    padding: 11px 10px;
    border-radius: 10px;
    font-weight: 600;
    /* box-shadow: inset #d8d8da 0 0 0 1px; */
    line-height: 100%;
    cursor: pointer;
    box-shadow: 0 0.04rem 0.5rem #00000052;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.header__btn:active,
.header__btn:focus {
    scale: 1.05;
}

.header__arrows {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
    position: relative;
}

.header__arrows::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 55%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    transform: translateY(-50%);
    left: -9px;
}

.header__arrows img {
    width: 18px;
    height: 14px;
}

.header__arrows a {
    display: inline-block;
    min-width: 35px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}


.header__arrows a:active,
.header__arrows a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: transform 0.15s ease, background 0.1s;
    cursor: pointer;
}


.header__arrow-right img {
    transform: scaleX(-1);
}

.main {
    display: flex;
    flex-grow: 1;
    order: 3;
}

.main__item {
    flex-grow: 1;
    position: relative;
    /* border: 1px solid #000; */
}

.color__btns {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.color__btns img {
    width: 18px;
    height: 18px;
}

.color__btns .item {
    min-width: 35px;
    min-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.color__btns .item:hover,
.color__btns .item:active {
    background-color: rgba(0, 0, 0, 0.1);
    transition: transform 0.15s ease, background 0.1s;
    cursor: pointer;
}








.main__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.color__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.color__descr .color {
    font-size: 30px;
    font-family: inherit;
    text-transform: uppercase;
    color: #000;
}

.color__descr .color__title {
    font-size: 11.2px;
    opacity: .6;
}

.one {
    background-color: #f7f4ea;
}

.two {
    background-color: #ded9e2;
}

.three {
    background-color: #c0b9dd;
}

.four {
    background-color: #80a1d4;
}

.five {
    background-color: #75c9c8;
}



@media (max-width: 1300px) {
    .color__descr .color {
        font-size: 25px;
    }
}

@media (max-width: 1060px) {
    .color__descr .color {
        font-size: 22px;
    }
}

@media (max-width: 1000px) {
    .main {
        flex-direction: column;
        order: 2;
    }

    .header__operations {
        order: 3;
    }

    .color__title {
        display: none;
    }

    .color__btns {
        position: static;
        display: flex;
        flex-direction: row;
    }

    .main__item {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0px 30px;
    }

    .color__descr .color {
        font-size: 16px;
        font-weight: 500;
    }

    .header__operations {
        padding: 9px 0px 9px 10px;
    }

    .header__arrows {
        gap: 20px;
    }

    .header__arrows a {
        min-width: unset;
        min-height: unset;

    }

    .header__arrows a:active,
    .header__arrows a:hover {
        background-color: unset;
        color: #0066ff;
        transition: transform 0.15s ease, background 0.1s;
        cursor: pointer;
    }

    .main .fa-solid {
        color: rgba(132, 129, 120, .9);
    }

    .header__arrows::before {
        left: -13px;
        height: 80%;
    }


   

    /* .color__btns .item:hover,
    .color__btns .item:focus,
    .color__btns .item:active {
        background-color: rgba(185, 21, 21, 0.1);
        transition: transform 0.15s ease, background 0.1s;
        cursor: pointer;
    } */
}