html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

img {
    vertical-align: top;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    background-color: #0B0625;
}

.wrapper {
    margin-top: 20px;
}

.container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper__title {
    color: #f4f4f4;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    @media (max-width: 550px) {
        font-size: 28px;
    }

    @media (max-width: 520px) {
        font-size: 26px;
    }

    @media (max-width: 490px) {
        font-size: 24px;
    }

    @media (max-width: 460px) {
        font-size: 22px;
    }

    @media (max-width: 430px) {
        font-size: 20px;
    }

    @media (max-width: 400px) {
        font-size: 18px;
    }

    @media (max-width: 340px) {
        font-size: 16px;
    }

}

.wrapper__inner {
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
    border-bottom: 1px dashed #f03163;
}

.wrapper__body {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper__icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 15px;
    height: auto;
    opacity: .15;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
}


.wrapper__body .textarea {
    width: 100%;
    height: 50vh;
    padding: 10px;
    background-color: #fff;
    resize: none;
    overflow: auto;
    color: #f03163;
    border: 1px solid #f03163;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.wrapper__body .textarea::-webkit-scrollbar {
    width: 4px;
}

.wrapper__body .textarea::-webkit-scrollbar-thumb {
    background-color: #d2d2d2;
    /* border-radius: 2px; */
}

.wrapper__convert {
    /* text-align: left; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 4px;
}

.wrapper__words-length {
    color: #fff;
    font-family: inherit;
    font-size: 10px;
    padding-right: 4px;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.wrap__btn {
    display: inline-block;
    color: #fff;
    background-color: #f03163;
    padding: 5px 30px;
    border-radius: 2px;
    font-weight: 400;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.wrap__btn:active {
    scale: 1.05;
    box-shadow: 0 0.05rem 0.3rem #00000052;
}


.wrapper__btns {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-bottom: 15px;
    padding-left: 4px;
}

.wrapper__controls {
    display: flex;
    justify-content: space-between;
}

.wrapper__btns-left {
    display: flex;
    gap: .2rem;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.wrapper__btns-arrow img {
    display: block;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.wrapper__btns-right {
    display: flex;
    gap: .2rem;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.wrapper__btns .item {
    width: 32px;
    height: 32px;
    border: 1px solid #f03163;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: inherit;

    @media (max-width: 380px) {
        width: 28px;
        height: 28px;
        font-size: 14px;
    }

    @media (max-width: 340px) {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
}

.wrapper__btns .item.active {
    background-color: #f03163;
    transition: all .2s ease-in-out;
}


.wrapper__description p {
    color: #fff;
    font-size: 10px;
    line-height: 170%;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* .description__text:not(:last-child) {
    margin-bottom: 5px;
} */

/* .wrapper__btns .item:hover {
    background-color: #f03163;
} */

/* @media (max-width: 510px) {
    .wrapper__title {
        font-size: 25px;
    }
  } */