html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #000;

}

.container {
    max-width: 870px;
    padding: 0 15px;
    margin: 0 auto;
}



.items {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.wrapper__title {
    /* 1vw eto 1% ot vidimoi oblasti wiuporta  */
    font-size: clamp(15px, 5.3vw, 32px);
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 20px;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}



.wrapper__text {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper__text .copy {
    position: absolute;
    top: 4px;
    right: 7px;
    color: inherit;
    cursor: pointer;
    display: none;
    color: #bababa;
}

.wrapper__text .copy.show {
    display: block;
}

.wrapper__text .copy.colored {
    color: green;
}

.wrapper__text textarea {
    width: 100%;
    height: 100%;
    /* height: calc(100vh - 170px); */
    /* height: 100%; */
    border: 1px solid #d2d2d2;
    resize: none;
    padding: 10px 22px 10px 10px;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    font-family: inherit;
}

/* /////Scroll/////// */
.wrapper__text textarea::-webkit-scrollbar {
    width: 5px;
}

.wrapper__text textarea::-webkit-scrollbar-thumb {
    background-color: #d2d2d2;
    border-radius: 2px;
}

/* /////Scroll/////// */

.password {
    padding: 6px;
    font-size: 12px;
    max-width: 35%;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
}

.wrapper__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper__inputs .password {
    letter-spacing: 1px;
}

.wrapper__btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper__btns a {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 2px;
    background-color: tomato;
    color: #fff;
    font-size: 13px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.wrapper__btns a:active {
    background-color: rgb(180, 68, 48);
    transition: all .3s ease-in-out;
    scale: 1.05;
}


.wrapper__footer {
    margin-top: auto;
    font-size: 10px;
    text-align: left;
    padding-bottom: 10px;
    color: inherit;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.wrapper__footer-text {
    margin-bottom: 2px;
}

.wrapper__footer-about a:active,
.wrapper__footer-about a:focus,
.wrapper__footer-about a:hover {
    text-decoration: underline;
}

@media (max-width: 360px) {
    .password {
        max-width: 40%;
    }
}