html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol,
li {
    list-style: none;
}


body {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0B0625;
}

.wrapper {
    display: flex;
    gap: 20px;
    position: relative;
}

.wrapper__box {
    position: absolute;
    top: 0;
    right: -60px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px dashed #fff;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 3px; */
}

.wrapper__box-item {
    width: 30px !important;
    height: 10px;
    background-color: #F03163;
}

.wrapper__left, .wrapper__right, .wrapper__middle {
    min-width: 250px;
    height: 500px;
    padding: 15px;
    border: 1px dashed #fff;
    color: #fff;
}

.wrapper__item {
    width: 100%;
    padding: 15px 4px;
    background-color: #F03163;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}

.wrapper__item:not(:last-child) {
    margin-bottom: 10px;
}
