html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

img {
    vertical-align: top;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.container {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 10px;
}

.parent {
    font-size: 20px;
}

.parent {
    padding: 30px;
    border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
}

.childe {
    cursor: pointer;
    padding: 3px 60px;
    border: 1px solid #d2d2d2;
}

.childe:not(:last-child) {
    margin-bottom: 4px;
}