*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(62, 47, 146);
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 15px;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 400px;
    border: 3px solid red;
    margin: 15px;
}

.box{
    position: absolute;
    left: -1px;
    top: -1px;
    width: 100px;
    height:100px;
    background-color:red;
}