html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #363232;
}


.header{
    background-color: aqua;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 60px;
}

.list__item{
    padding: 0 10px 3px 10px;
    border-bottom: 2px solid transparent;
    transition: all .3s;
    
}

.list .list__item:hover{
    border-bottom: 2px solid rgb(41, 21, 21);
}


.list__item a{
    text-decoration: none;
}


.container{
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}


.header__search .search{
    border: none;
    color: #999;
    outline: none;
    border-radius: 20px;
    line-height: 1.5rem;
    padding: 4px 15px;
    transition: all .3s;
}

.header__search .search:hover{
background-color: beige;
}