html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    /*
    font-family: 'DM Sans', sans-serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Public Sans', sans-serif;
    font-family: 'Ultra', serif; */
}

/* .wrapper {
    min-height: 100%; 
     overflow: hidden; 
    display: flex;
    flex-direction: column;
} */

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: content-box;
    
}

.container__ {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
}

.menu__list {
    display: flex;
}

.menu__list .menu__item:not(:last-child) {
    margin: 0px 60px 0px 0px;
}


.menu {
    padding: 5px 0;
}

.menu .menu__link {
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 37px;
}

.logo span {
    margin: 0px 0px 0px 8px;
    font-weight: 500;
    color: #17C3B2;
}

.main__block-body h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 69px;
    line-height: 110%;
    color: inherit;
    margin-bottom: 31px;
}

.main-block__text {
    line-height: 150%;
    font-size: 22px;

}

.header {
    background: url(../img/main_block/bg.jpg) center/cover no-repeat;

}

.main__block-container {
    height: 942px;
    position: relative;
}

.main__block-body {
    max-width: 752px;
    position: absolute;
    top: 16%;
    right: 0%;

}

/*main block after header===========================*/

.page {
    margin-top: -255px;
}

.page__travel {
    background-color: #000;
    opacity: .7;

}

.page .travel__body h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: inherit;
    line-height: 150%;
    text-align: center;
    margin-bottom: 22px;
}

.travel-plan__items {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.travel__body {
    padding: 26px 0px 64px 0px;
}

.travel-item__inner label {
    display: block;
    font-family: 'DM Sans', sans-serif;
    line-height: 150%;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 8px 0px;
    color: inherit;
}

.travel-item__inner input[type="text"]::placeholder {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    line-height: 150%;
    font-size: 15px;
    color: #999999;

}

.travel-item__inner input[type="text"] {
    padding: 16px 21px 16px 15px;
    background-color: #fff;
    border-radius: 8px;
    color: #999999;
    border: none;
}

.travel-item__inner input[type="date"] {
    padding: 15px 96px 14px 15px;
    background-color: #fff;
    border-radius: 8px;
    color: #999999;
    text-transform: uppercase;
    border: none;
}

.travel-item__input {
    position: relative;
}

.travel-item__inner input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    background-image: url('../img/travel/date_icon.svg');
    /* Замените на URL вашей иконки */
    background-size: cover;
    width: 19px;
    /* Размер иконки */
    height: 24px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    /* Пространство между иконкой и полем ввода */
    cursor: pointer;
}



.travel-item__inner .travel-item__btn {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: inherit;
    padding: 15px 74px;
    border-radius: 50px;
    background-color: #17C3B2;

}

.travel-plan__items .inner__item-btn {
    margin-top: 32px;
}


.page__adventure {
    background-color: #17C3B2;
}



.adventure-text {

    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 30px */
    text-transform: uppercase;
}

.page__descr .adventure-text {
    color: #0E3D4D;
}

.adventure-title {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 75px */
}

.page__descr .adventure-title {
    color: #FFF;
}

.adventure-title__text {

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
}

.page__descr .adventure-title__text {
    color: #073D37;
}

.page__adventure {
    margin-bottom: 59px;
}

.adventure__container {
    padding: 70px 0px 115px 0px
}

.adventure-title {
    position: relative;
}

.page__title h2::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: #0E3D4D;
    top: 50%;
    transform: translateY(-50%);
    left: -87px;
}

.page__adventure .page__descr {
    margin-bottom: 58px;
}

.adventure-travell__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.adventure-travell__item {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    align-items: center;
    max-width: 248px;

}

.adventure-travell__title {
    color: #FFF;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 54px */
}

.adventure-travell__text {
    color: #073D37;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}



.popular_descr .adventure-text {
    color: #17C3B2;
}

.popular_descr .adventure-title {
    color: #333;
}

.popular_descr h2::before {
    content: '';
    background-color: #32B2A6;
}

.popular_descr .adventure-title__text {
    color: #333;
}

.page__popular .popular_descr {
    margin-bottom: 56px;
}


.popular-destinations__item {
    width: 259px;
    position: relative;
}

.popular-destinations__img {
    width: 100%;
}

.popular-destinations__descr {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 31px;
}

.popular-destinations__items {
    /* display: flex;
    justify-content: space-between; */
}

/*inner styled*/
.destinations-descr__country {
    color: #FFF;

    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 4px;
    /* 36px */
}

/*inner styled*/

.destinations-descr__location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 15px;
}

.destinations-descr__location img {
    width: 32px;
    height: 21px;
}

.destinations-descr__city {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    /* 16px */
}

.destinations-descr__price {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 12px;
    /* 16px */
}

.destinations-descr__price span {
    color: #17C3B2;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.popular-destinations__items .slick-track {
    display: flex;
    /* 1 chtobi vse slaidi vistroilis v ryad*/
    align-items: flex-start;
    /*prijimaet slaid k verxu dlya adaptacii slaida po visote*/
}

.popular-destinations__items .slick-list {
    overflow: hidden;
    /* 2 uberaem lishnuu chast*/
}

.popular-destinations__items {
    position: relative;
}

.popular-destinations__items .slick-arrow {
    /*stilizuem strelki*/
    position: absolute;
    top: 50%;
    /* margin: -23px 0px 0px 0px; */
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    /*ubiraem nadpisi na knopke*/
    width: 40px;
    height: 40px;
    border: none;
    background-color: #17C3B2;
    border-radius: 50%;

}

.popular-destinations__items .slick-arrow.slick-prev {
    right: -33px;
    cursor: pointer;
    background: url('../img/popular/arrow_right.svg') 0 0 / 100% no-repeat;


}

.popular-destinations__items .slick-arrow.slick-next {
    left: -56px;
    cursor: pointer;
    background: url('../img/popular/arrow_left.svg') 0 0 / 100% no-repeat;
}

.popular-destinations__items .slick-arrow:not(:last-child) {
    /* margin-right: 78px; */
}

.popular-destinations__items .slick-arrow.slick-disabled {
    /*pri infinite: false*/
    opacity: 0.2;
}

/*stilizuem dotsi*/
.popular-destinations__items .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.popular-destinations__items .slick-dots li {
    list-style: none;
    margin: 0 8px;
}

.popular-destinations__items .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
}

/* stilizuem aktivni dots*/
.popular-destinations__items .slick-dots li.slick-active button {
    background-color: #17C3B2;
    border: none;
}

.page__popular {
    margin-bottom: 133px;
}


.blog__descr .adventure-text {
    color: #17C3B2;
}

.blog__descr .adventure-title {
    color: #333333;
}

.blog__descr h2::before {
    content: '';
    background-color: #32B2A6;
}

.page__blog .blog__descr {
    margin-bottom: 50px;
}

.blog__items {
    display: flex;
    gap: 29px;
}

.blog__items .blog__item {
    display: flex;
    flex-direction: column;
}

.blog__item-img {
    margin-bottom: 15px;
    max-width: 550px;
}

.blog__item-text {
    color: #17C3B2;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 21.6px */
    text-transform: uppercase;
}

.blog__item-title {
    color: #333;
    font-family: inherit;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 33.6px */
}

.blog-item__title-text {
    color: #000;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    max-width: 550px;
    /* 24px */
}

.blog-item__title-text span {
    font-weight: 700;
}

.readmore-item__arrow {
    display: flex;
    gap: 12px;
    align-items: center;
}

.readmore-item__text {
    color: #17C3B2;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 24px */
}

.readmore-item__arrow img {
    display: block;
}


.blog-item .blog-item__inner {
    display: flex;
    flex-direction: column;
}

.blog-inner__item:not(:last-child) {
    margin-bottom: 31px;
}

.blog-inner__item img {
    max-width: 100px;
}

.blog-inner__item {
    display: flex;
    gap: 20px;
}

.blog-inner__item .inner-blog {
    display: flex;
    flex-direction: column;
    gap: 19px;
    justify-content: center;
}


.inner-blog .inner-blog__text {
    color: #333;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 21.6px */
}

.inner-blog .inner-blog__date {
    color: #17C3B2;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 19.2px */
}

.blog-item .item-blog {
    margin-bottom: 57px;
}

.blog-item__inner {
    margin-bottom: 87px;
}

.page__blog {
    margin-bottom: 87px;
}


.deals__descr .adventure-text {
    color: #17C3B2;
}

.deals__descr .adventure-title {
    color: #333333;
}

.deals__descr h2::before {
    content: '';
    background-color: #32B2A6;
}

.page__deals {
    background-color: #f5f5f5;
    padding: 65px 0px 130px 0px;
}

.page__deals .deals__descr {
    margin-bottom: 75px;
}

.deals__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
}

.item__deals {
    grid-column: span 2;
    grid-row: span 1;
}

.deals-item__title {
    color: #17C3B2;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 10px;
    /* 20px */
}

.deals-item__text {
    color: #17C3B2;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: flex-start;


}

.deals-item__price {
    color: #FFF;
    font-family: inherit;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.deals-item__descr {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.deals-item__inner {
    position: relative;
}

.deals__item-description {
    /* width: 100%; */
    position: absolute;
    bottom: 26px;
    left: 28px;
}


.page__stories {
    padding: 88px 0px 146px 0px;
}

.page__stories .stories__descr {
    padding: 0px 0px 114px 0px;
}

.stories__descr h2 {
    color: rgba(51, 51, 51, 0.87);
}

.stories__descr h2::before {
    content: '';
    background-color: #32B2A6;
}

/* .stories-items {
    display: flex;
    gap: 111px;
} */

.stories__text-inner {
    position: relative;

}

.stories-item__text::before {
    content: '';
    position: absolute;
    background-image: url('../img/stories/quotes.svg');
    background-repeat: no-repeat;
    top: -30px;
    left: 0px;
    width: 104px;
    height: 72px;
    z-index: 20;
}

.stories__item-inner {
    max-width: 508px;
}

.page__stories .stories-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stories-item__img {
    border: 4px solid #17C3B2;
    border-radius: 50%;
    box-shadow: 9.563px 19.126px 47.815px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 23px;
}

.stories-item__text {
    color: #333;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 42px;
    /* 27px */
}

.stories-stars__items {
    display: flex;
    gap: 17px;
    align-items: center;
    margin-bottom: 26px;
}

.stories-stars__items .stars_rate {
    color: #0E3D4D;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 150%; */
    /* 30px */
}


.stories-name {
    color: #333;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 19.8px */
}

.stories-position {
    color: #AAA;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}


/* /////////////////////////// */

.stories-items .slick-track {
    display: flex;
    /* 1 chtobi vse slaidi vistroilis v ryad*/
    align-items: flex-start;
    justify-content: space-around;
    /*prijimaet slaid k verxu dlya adaptacii slaida po visote*/


}

.stories-items .slick-list {
    overflow: hidden;
    /* 2 uberaem lishnuu chast*/
}

.stories-items {
    position: relative;
}

.stories-items .slick-arrow {
    /*stilizuem strelki*/
    position: absolute;
    top: 50%;
    /* margin: -23px 0px 0px 0px; */
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #17C3B2;
    border-radius: 50%;

}

.stories-items .slick-arrow.slick-prev {
    right: -25px;
    cursor: pointer;
    background: url('../img/stories/arrow_right.svg') 0 0 / 100% no-repeat;


}

.stories-items .slick-arrow.slick-next {
    left: -25px;
    cursor: pointer;
    background: url('../img/stories/arrow_left.svg') 0 0 / 100% no-repeat;
}

.stories-items .slick-arrow:not(:last-child) {
    /* margin-right: 78px; */
}

.stories-items .slick-arrow.slick-disabled {
    /*pri infinite: false*/
    opacity: 0.2;
}

/*stilizuem dotsi*/
.stories-items .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.stories-items .slick-dots li {
    list-style: none;
    margin: 0 8px;
}

.stories-items .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
}

/* stilizuem aktivni dots*/
.stories-items .slick-dots li.slick-active button {
    background-color: #17C3B2;
    border: none;
}

/* /////////////////////////// */

.footer {
    background-color: #F5F5F5;
    color: #000;
}

.footer__items {
    display: flex;
    margin-bottom: 72px;
}

.footer__item:first-child {
    margin-right: 222px;
}

.footer__item:nth-child(2) {
    margin-right: 80px;
}

.footer__item:nth-child(3) {
    margin-right: 71px;
}

.footer__item:nth-child(4) {
    margin-right: 48px;
}

.footer-item__title {
    color: #000;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 250%;
    /* 45px */
    text-transform: uppercase;
}

.footer-item__info a {
    color: #666;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 210%;
}

.footer__item .item_title {
    color: #333;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.footer-item__text {
    color: #666;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-item__phone {
    color: #17C3B2;
    font-family: inherit;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-item__tel {
    margin-bottom: 33px;
}

.footer-item__mail {
    margin-bottom: 25px;
}

.footer-item__links .footer-item__text {
    margin-bottom: 15px;
}

.footer__item .info-item {
    display: block;
}

.footer__container {
    padding-top: 63px;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    min-height: 78px;
    align-items: center;
    border-top: 1px solid #ddd;
}


.footer-copyright-text {
    color: #17C3B2;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
}

@media (max-width: 789px) {
    .header__menu {
        display: none;
    }

    .main__block-body {
        text-align: center;
    }

    .main__block-body {
        position: static;
    } 

    .header__container {
        min-height: 93px;
    } 

    .main-block__title {
        font-size: 44px;
    }

    .main-block__text {
        font-size: 20px;
    }
}