html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    

    body{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #6d6666;
    }
    
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.box__inner{
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    grid-gap: 5px;
    }

.box__item{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #6d6666;
    border-radius: 1px;
    text-align: center;
}

.item{
    background: green;
}




.box__item-textT{
    position: relative;
    margin-top: -62px;
     
    width: 80px;
    left: -30px;
    
    text-align: right; 
    transform: rotate(90deg);
    
}




.box__item-textL{
    position: relative;
    margin-top: -2px;
    margin-left: -60px;
    text-align: right;
    left: -29px;
   
}

.first{
    margin-top: 39px;   
}



