* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*sbrasivaem vse brauzernie stil i*/
/*importiruem obnulyaushi file nashu zagotovku cherez @import*/
/*sozdaem peremennie cherez simvol $*/
.link_2, .link {
  /*sozdaem shablon dlya silok*/
  border-bottom: 1px dashed red;
  font-size: 25px;
}

/*mojno etot shablonchik ispolzovat kak obichni klass 
vmesto % ispolzovat . no on budet vivoditsya, a cherez % budet vesti
sebya kak peremennaya*/
.block {
  width: 31.25%;
  /*mojno proizvodit vichisleniya*/
  font-size: 50px;
  line-height: 60px;
  padding: 30px;
}
.block > p {
  color: gray;
  /*u elementa block pervi paragraf p*/
}
.block span {
  /*sass(scss) eta vlojenost*/
  color: green;
}
.block .block_text {
  /*eto toje vlojenost*/
  font-size: 80px;
}
.block .block_text span {
  /*eto toje vlojenost span u .block_text i eto vse v bloke*/
  color: red;
}

.link {
  color: blue;
  text-decoration: underline;
}
.block .link {
  /*eto toje vlojenost*/
  font-size: 100px;
}
.link:hover {
  /*& - eto roditel i ego roditel eto link*/
  color: chartreuse;
}

.link_2 {
  /*miksini podrugomu primesi u nix toje neploxoi funkcional
  ona robotaet kak funkciya i ispolzuetsya cherez @include s imenem i pojno parametri*/
  font-size: 120px;
  /*ispolzuem shablon dlya silki pri pomoshi @extend*/
  /*eti shabloni mojno ispolzovat gde ugodno*/
}

body p {
  color: green;
  font-size: 25px;
  margin: 30px;
}