html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    background-color: #ddd;
    font-size: 20px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}





.grid__inner-item {
    background-color: rgb(93, 218, 235);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 180px);
    grid-auto-rows: 380px;
    gap: 20px;

    grid-template-areas:
        "Sale-1 Sale-1 Product-1 Product-2"
        "Sale-2 Sale-2 Product-1 Product-2"
        "Product-3 Product-4 Sale-3 Sale-3"
        "Product-3 Product-4 Sale-4 Sale-4";
}

.Sale-1 {
    grid-area: Sale-1;
}

.Sale-2 {
    grid-area: Sale-2;
}

.Product-1 {
    grid-area: Product-1;
}

.Product-2 {
    grid-area: Product-2;
}

.Product-3 {
    grid-area: Product-3;
}

.Product-4 {
    grid-area: Product-4;
}

.Sale-3 {
    grid-area: Sale-3;
}

.Sale-4 {
    grid-area: Sale-4;
}

@media (max-width: 1146px) {
    .grid__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 180px);
        grid-auto-rows: 380px;
        grid-template-areas:
            "Sale-1 Sale-1"
            "Sale-2 Sale-2"
            "Product-3 Product-4"
            "Product-3 Product-4"
            "Product-1 Product-2"
            "Product-1 Product-2"
            "Sale-3 Sale-3"
            "Sale-4 Sale-4";
    }


    .grid__items {
   
        grid-template-columns: repeat(3, 1fr);
      
    }

}


@media (max-width: 767px) {
    .grid__inner {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(16, 180px);
        grid-auto-rows: 380px;
        grid-template-areas:
            "Sale-1"
            "Sale-2"
            "Product-1"
            "Product-2"
            "Sale-3"
            "Sale-4"
            "Product-3"
            "Product-4";
    }

    

}

.grid {
    margin-bottom: 100px;
}


.grid-item {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 20px;
    
}

.grid__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 180px);
    grid-auto-rows: 180px;
    gap: 20px;
}

.wide1 {
    grid-column: span 2;
}

.product2 {
    grid-column: span 2;
}



.wide2 {
    grid-row: span 2;
}

.product1 {
    grid-row: span 2;
}

.wide3{
    grid-row: span 2;
}

.wide4{
    grid-row: span 2;
}

.product3{
    grid-column: span 2;
}


.product4{
    grid-column: span 2;
}

/* .product{
    grid-column: span 2;
}

.wide{
    grid-row: span 2;
} */
/* grid-column: span 2;
grid-row: span 1; */