@import url(./null.css);
@import url(./fonts.css);

[class*="__container"] {
    max-width: 1110px;
    padding-inline: 5px;
    margin: 0 auto;
}

body {
    font-family: 'Helvetica_Light', sans-serif;
    font-size: 14px;
    color: #151515;
}

/* header {
    margin-bottom: 80px;
} */
.wrapper__header {
    width: 100%;
    /* position: fixed;
    top: 0;
    left: 0;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
    background-color: #fff; */
}

.header__inner {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1100px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 0px 15px; */
}

.wrapper__logo img {
    display: block;
    width: 94px;
}

.menu__list {
    display: flex;
    column-gap: 15px;

}

.menu__list-item {
    font-feature-settings: "case" on;
    text-transform: uppercase;
    color: #151515;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.header__right {
    display: flex;
    column-gap: 20px;
}


/*--------------------*/

.burge__menu,
.header__burger-icon {
    display: none;
}

.burge__menu {
    display: block;
    position: absolute;
    width: 100%;
    height: 100dvh;
    top: -100%;
    left: 0;
    background-color: #fff;
    z-index: 2;
}

.burge__menu.active {
    top: 0;
}

.burge__menu .burger__close {
    cursor: pointer;
}

.burge__menu.active .burger__close {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 20px;
    z-index: 5;
}


.header__inner.active {
    position: absolute;
    top: 30px;
    left: 20px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    font-weight: 500;
    font-size: 15px;
    align-items: flex-start;
}

.header__inner.active .wrapper__logo img {
    width: 80px;
}

.header__inner.active .menu {
    display: block;
}

.header__inner.active ul {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.header__inner.active .header__right {
    display: none;
}

.header__inner.active .wrapper__logo {
    margin-bottom: 20px;
}

/*--------------------*/



@media (any-hover: hover) {
    .menu__list-item:hover {
        color: #0b57ff;
    }
}

.header__icons {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 17px;
}

.header__icons i {
    cursor: pointer;
}

.header__lang {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}


@media (max-width: 1020px) {
    .menu {
        display: none;
    }



    /* .menu ul.active {
        display: block;
    } */

    /* .header__burger-icon {
        display: block;
        font-size: 20px;
    } */

    .header__burger-icon {
        display: block;
        position: relative;
        width: 20px;
        cursor: pointer;
    }

    .header__burger-icon span::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #151515;
        margin-bottom: 10px;
    }

    .header__burger-icon span::after {
        content: '';
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #151515;
    }

    .header__lang {
        display: none;
    }



}

/* main {
    padding-top: 90px;
} */




.slider {
    position: relative;
}



.swiper {
    width: 100%;
    height: auto;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

}