html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #202124;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 10px;
}


.wrapper__item {
    display: flex;
    padding: 10px 0;
    align-items: center;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
    padding-left: 10px;
    cursor: pointer;
    position: relative;
}

.trash__btn {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    scale: 0;
}




.trash__btn-inner {
    position: relative;
}

.trash__img {
    position: absolute;
    width: 13px;
    height: 13px;
    background: url('./icons/trash.svg') 0 0 no-repeat;
    top: 0;
    left: 0;
    top: 50%;
    /* transition: all .2s ease-in-out; */
}

/* 
.trash__btn-inner .castom__chb-shadow{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -32%);
} */











.wrapper__item:first-child {
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122), inset 0 1px 0 0 rgba(100, 121, 143, 0.122);
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122), inset 0 1px 0 0 rgba(100, 121, 143, 0.122);
}

.wrapper__item:hover {
    box-shadow:
        inset 1px 0 0 #dadce0,
        inset -1px 0 0 #dadce0,
        0 1px 0px 0 rgba(60, 64, 67, .3),
        0 1px 3px 1px rgba(60, 64, 67, .15);
}

.wrapper__item:active,
.wrapper__item:visited,
.wrapper__item:focus {
    background-color: #f2f6fc;
}


.wrapper__chb-cover {
    flex: 0 1 3%;
}



.wrapper__item-star {
    flex: 0 1 3%;
    position: relative;
}

.wrapper__item-star span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: #acacac;
    transition: all .1s ease-in-out;
}

.wrapper__item-star span:active::before {
    background-color: #f7ca4c;
}

.wrapper__item-decore {
    flex: 0 1 3%;
    position: relative;
}

.wrapper__item-decore span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 12px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    background-color: #acacac;
    transition: all .1s ease-in-out;
    
}

.wrapper__item-decore span:active::before {
    background-color: #f7ca4c;
}




.wrapper__item-descr {
    flex: 0 1 13%;
    padding-left: 5px;
}



.wrapper__item-text {
    flex: 0 1 69%;
    padding-left: 5px;
}

.wrapper__item-date {
    flex: 0 1 9%;
}

.wrapper__title {
    padding: 15px 0;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.wrapper__chb-cover {
    position: relative;
}

.castom__chb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 11px;
    height: 11px;
    border-radius: 1px;
    border: 1px solid #acacac;
}

.castom__chb::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-38%, -43%);
    content: '';
    display: inline-block;
    background: url('./icons/check.svg') 0 0 no-repeat;
    width: 7px;
    height: 7px;
    scale: 0;
}

/*//////////////shadows/////////////////*/
.trash-shadow {
    position: relative;
}

.trash-shadow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #acacac;
    z-index: -1;
    opacity: 0;
    scale: 0;
}

.trash-shadow:active::after {
    scale: 1;
    opacity: .15;
}

.castom__chb-shadow {
    position: relative;
}

.castom__chb-shadow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-33%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #acacac;
    z-index: -1;
    opacity: 0;
    scale: 0;
}

.castom__chb-shadow:active::after {
    scale: 1;
    opacity: .15;
}


.star-shadow {
    position: relative;
}

.star-shadow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #acacac;
    z-index: -1;
    opacity: 0;
    scale: 0;
}

.star-shadow:active::after {
    scale: 1;
    opacity: .15;
}




.decore-shadow {
    position: relative;
}

.decore-shadow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #acacac;
    z-index: -1;
    opacity: 0;
    scale: 0;
}

.decore-shadow:active::after {
    scale: 1;
    opacity: .15;
}




/*//////////////shadows/////////////////*/

.wrapper__chb-cover input:checked+.castom__chb:after {
    scale: 1;
}

.wrapper__chb {
    position: absolute;
    top: -9999em;
    opacity: 0;
}

.wrapper__item-chb {
    cursor: pointer;
}

.wrapper__inner {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #64798f1f;

}

.wrapper__footer {
    position: relative;
    text-align: right;
}

.footer-item {
    font-size: 50px;
    cursor: pointer;
    padding-right: 20px;

}

.footer-item:hover {
    color: #f7ca4c;
    transition: all .2s ease-in-out;


}

/* .footer-item:not(:last-child) {
    margin-right: 10px;
} */






/*-webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;

    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
-webkit-box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);

clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); 320x280

clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);  zvezdochka 280x280


    background: #f2f6fc;
     color: #
     ;

"Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif



<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

font-family: "Roboto", sans-serif;


width: 1560px

1- 40px 2.56%
2- 40px 2.56%
3- 40px 2.56%
4 - 200px 12.8%
5- 1160px 74.3%
6 - 80px 5.12%
*/