html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    vertical-align: top;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
}

body {
    font-family: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cover {
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.cover input {
    opacity: 1;
    width: 0;
    height: 0;
}



.cover .switch {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    border: 2px solid #ddd;

}

.cover .switch::before {
    position: absolute;
    content: '';
    width: 44px;
    height: 44px;
    top: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: 5px;
    background-color: #ddd;
    transition: .2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    box-shadow: 0 0 .5rem #000;

}


.cover input:checked+.switch {
    background-color: green;
    border: 2px solid transparent;

}

.cover input:checked+.switch::before {
    transform: translateX(50px);
}