.modal {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50%;
    width: 200px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: .8em;
  
    transition: all .3s ease-in-out;
    text-wrap: nowrap;
  
  }
  
  .modal.showmodal {
    animation: slideUp 0.1s ease-in-out forwards;
  }
  
  @keyframes slideUp {
    0% {
        bottom: 2.5%;
        /* Начальное положение внизу */
    }
  
    50% {
        bottom: 1.5%;
        /* Положение вверху */
    }
  
    100% {
        bottom: 2%;
        /* Положение вверху */
    }
  }
  