*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}/*ubiraet krestik u iternet explorera v input text*/
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
/*sbrasivaem vse brauzernie stili*/

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 30px;
}

.block{
    max-width: 800px;
    height: 300px;
    margin: 0 auto;
    border: 5px solid red;
    position: relative;
}


.block div{
font-size: 18px;
line-height: 50px; 
font-size: 18px;
text-align: center;
font-weight: 700;
}

.block1{
    background-color: #ece89d;
}
.block2{
   /* position: sticky;
    top: 0;*/
    background-color: #5e5373;
    color: white;
   /* position: fixed;
    top: 0;
    left: 0;*/
    /*position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;*/
   
    
}
.block3{
    background-color: #18b5a4;
   /* position: relative;
    z-index: 20;*/
   /* position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 120px;*/
}

.list{
    font-size: 18px;
   
}
.list li{
margin-bottom: 15px;
position: relative;
padding-left: 20px;
}

.list li::before{
    content: '';
    background: url('../img/li_green.svg') 0 0 no-repeat;
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px; 
}



/*
osnovnoe svoistvo pozicionirovaniya eto position: i ego svoistvo po umolchaniu eto static
position: static;

1 - (position: static) eto svoistvo po umolchaniu u vsex blokax, pri znachenii po umolchaniu position: static; vse bloki vivodyatsya kak obichno na nix ne deistvuet
dopolnitelnie svoistva ono ustanovleno na vsex blokax po umolchaniu

2 - (position: relative;) pri znachenii reletive poziciya ustonavlivaetsya otnositelno
ego roditelya v kode, ono ispolzuetsya s dopolnitelnimi svoistvami left: right: top:
i bottom mi mojem sdvigat element (vlevo vpravo verx vniz) "mojno isho zadavat znacheniya v procentax i otricatelnie znacheniya" otnositelno ego roditelskovo elementa
u nego est esho odno svoistvo kotoroe nazivaetsya (z-index: 0;) - ego znachenie po umolchaniu 0
eto polojenie bloka po osi Z

3 - (position: absolute;) - on kak bi virivaetsya iz html bloka i perestaet imet razmeri fizicheskie i on dolje soprovojdatsya s top left bottom right
i on vedet sebya kak strochni element, mojno ukazat u roditelya position: relative; i on budet pozicionirovatsya otnositelno roditelya

4 - (position: fixed;) - on takje virivaetsya iz html bloka no on v otlichii ot absolute fiksiruetsya sugubo po oknu brauzera vne zavisimosti
"est u roditelya position: relative; ili net" i on budet zafiksirovani takje u nego est top left bottom right width height z-index i na nego
ne deistvuet (position: relative;)

5 - position: sticky; eto svoistvo gibrid mejdu statik i fixed on fiksiruetsya otnositelno roditelya u nego ne dostatochnaya poderjka brauzerami
*/
