html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    background-color: #e7e7e7;
}


.wrapper {
    padding: 20px 0;
    -webkit-tap-highlight-color: transparent;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper__title {
    margin-bottom: 27px;
    font-size: 37px;
    font-family: 'Gobold2', sans-serif;
    color: #666653;
    text-transform: uppercase;
    text-align: center;
}

.wrapper__inner {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 25px;
}

.kobuleti:hover,
.kobuleti:active {
    fill: #ba9696;
    transition: all .3s ease-in-out;
    cursor: pointer;
}



.batumi:hover,
.batumi:active {
    fill: #ba9696;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.khelvachauri:hover,
.khelvachauri:active {
    fill: #ba9696;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.keda:hover,
.keda:active {
    fill: #ba9696;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.shuakhevi:hover,
.shuakhevi:active {
    fill: #ba9696;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.khulo:hover,
.khulo:active {
    fill: #ba9696;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.kobuleti__point:hover,
.kobuleti__point:active {
    fill: red;
    cursor: pointer;
}

.batumi__point:hover,
.batumi__point:active {
    fill: red;
    cursor: pointer;
}

.khelvachauri__point:hover,
.khelvachauri__point:active {
    fill: red;
    cursor: pointer;
}


.keda__point:hover,
.keda__point:active {
    fill: red;
    cursor: pointer;
}

.shuakhevi__point:hover,
.shuakhevi__point:active {
    fill: red;
    cursor: pointer;
}

.khulo__point:hover,
.khulo__point:active {
    fill: red;
    cursor: pointer;
}