*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

p {
    font-weight: 400;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 230px;
}

.phone a {
    display: block;
    text-align: right;
}

.header {
    width: 100%;
    background-color: #c3e1ff;
}



.contact__header {
    font-size: 40px;
    line-height: 46px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #767676;
}

.contact {
    font-size: 24px;
    line-height: 46px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #767676;
    text-decoration: underline dotted;
}



.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__container {
    display: flex;
    justify-content: center;
    min-height: 80px;
    align-items: center;
}

.menu {
    background-color: rgb(119, 119, 119);
}

.menu__item a {
    font-family: inherit;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.menu__item:not(:last-child) {
    margin-right: 45px;
}

.menu__item {
    border-bottom: 1px solid transparent;
    transition: all .3s ease 0s;
}

.menu__item:hover {
    border-bottom: 1px solid #ffffff;
}



.menu li {
    position: relative;
}

.menu li:not(:last-child)::after {
    content: "|";
    position: absolute;
    top: 50%;
    right: -26px;
    transform: translateY(-50%);
    color: #ffffff;
}

.slider {
    width: 100%;
}

.slider__content {
    width: 100%;
    height: 367px;
    background-image: url("../img/slider.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


/*===========*/

.content__body {
    display: flex;
}

.content__inner {
    display: flex;
    flex-wrap: wrap;
}

.content__column {
    margin: 0px 7px 21px;
    flex: 0 1 33.3333%;
    max-width: 250px;
}

.content__column-inner {
    background-color: #c3e1ff;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 17px;
}

.content__item-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content__item-image {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}


.content__item-text {
    font-family: inherit;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
}

.content__item-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
}

.content__item-price {
    font-family: inherit;
    font-size: 28px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #444444;
}

.content__item-basket {
    width: 28px;
    height: 21px;
    cursor: pointer;
}



.list ul li {
    list-style-type: disc;
    margin-left: 25px;
}

.content__list .list {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
}

.content__list .list ul li {
    font-size: 14px;
    line-height: 22px;
}

.content__list {
    width: 208px;
}

.content__filter .selected {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-decoration: underline;
    color: #010101;
}

.content__filter .active {
    text-decoration: underline;
}




.breadcrumbs {
    margin: 7px 10px 26px 0px;
}

.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs a {
    text-decoration: underline;
}

.pagination__inner {
    display: flex;
    justify-content: center;
}

.pagination {
    margin: 30px 0px 0px 208px;
}

.pagination__inner a {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.565em;
    color: #767676;
}

.pagination__inner a:not(:last-child) {
    margin: 0px 21px 0px 0px;
}

.pagination__inner .active {
    font-size: 18px;
    color: #444444;
}

.content__footer {
    margin-top: 64px;
}

.content__footer-inner {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
}

.content__footer-inner .text {
    font-family: inherit;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
    flex: 0 1 50%;
    margin-right: -4px;
}

.content__footer {
    border-top: 1px solid #797979;
    padding-top: 32px;
}

.img__logo {
    display: block;
}

.pricelist__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

.pricelist__logo-text {
    font-family: inherit;
    font-size: 30px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #444444;
    padding-top: 5px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__inner * {
    font-family: inherit;
    color: #fff;
}

.footer__inner-main {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.025em;


}

.footer__inner-main a {
    text-decoration: underline;
}

.footer__inner-info {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
}


.footer {
    height: 220px;
    background-color: #777777;
    padding: 49px 0px;
    margin: 160px 0px 0px 0px;
    margin-top: 60px;
}



.footer__inner-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;  
}

.footer__inner-title a {
    text-decoration: underline;
}
/*===================*/
.header__burger {
    display: none;
}


@media (max-width: 780px) {
    /*borger_menu*/
 .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 21;
}

.header__burger span {
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all .3s ease 0s;
}

.header__burger::before,
.header__burger::after {
    content: '';
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .3s ease 0s;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
} 

  /*strelki*/
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
}

.header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.header__burger.active span {
    scale: 0;
}

/*strelki*/


/* .main-menu {
    display: none;
} */

.header__inner {
    display: none;
    
}

.menu__container {
    justify-content: left;
    min-height: 54px;
}

.menu__list {
    display: block;
    
} 

.menu__item {
    border: none;
    transition: all .3s ease 0s;
   
}

.menu__item:hover {
    border: none;
    transition: all .3s ease 0s;
   
}


.menu li:not(:last-child)::after {
    content: "";
}

.menu__list li{
    padding: 6px 30px 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
}

.main-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #85858a;
    padding: 70px 10px 20px 20px;
    transition: all .3s ease 0s;
    z-index: -1;
}





.main-menu.active {
    top: 27px;
    z-index: -1;
}




.slider {
    display: none;
}


.content__filter {
    display: none;
}

.content__inner {
    margin-top: -5px;
    column-gap: 6px;
}

.content__column {
    margin: 0 auto 21px;
    flex: 0 1 33.3333%;
    max-width: 250px;
}



.content__inner {
      display: flex;
    justify-content: center;

}

.pagination {
    display: none;
}


.footer {
    margin-top: 60px;
}

.breadcrumbs {
    margin: 76px 10px 26px 0px;
}

}

@media (max-width: 890px) {
 
    
    .content__footer-inner .text:not(:last-child) {
        margin-bottom: 20px;
       
    }

    .content__footer-inner .text {
        margin-right: -5px;
    }
}


@media (max-width: 682px) {

    .content__footer-inner {
        display: block;
    }
}


@media (max-width: 560px) {
    .footer__inner {
        display: block;
    }
    .footer__inner > div:not(:last-child) {
        margin-bottom: 15px;
    }

    .footer {
        height: auto;
    }

}