/*
font-family: 'Abril Fatface', cursive;
font-family: 'Alike', serif;
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    font-family: 'Alike', serif;
    color: #1F2227;

}

.container {
    max-width: 1054px;
    margin: 0 auto;
    padding: 0 15px;
}

/*================== fixiruem header delaem ego fixirovanim i stavim z-indexi*/
header {
    padding: 16px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
/*==================*/


/*================= delaem ego absolutnim */
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5e5373;
    z-index: 2;
}
/*=================*/

.header__logo {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    text-transform: uppercase;
    background: linear-gradient(90deg, #F7B32B 0%, #D34E24 46.87%, #D34E24 67.71%, #0733A4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0px 27px 0px 0px;
    z-index: 15;

}

.header__inner {
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
    /* flex-wrap: wrap; */
    z-index: 5;
}

.menu__item {
    padding: 6px 33px;
}

.menu__link {
    color: #1F2227;
}


.header__items a {
    color: #1F2227;
    padding: 6px 42px;
}

.menu { 
    z-index: 15;
}

.header__items {
    flex: 0 1 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 15;
}

.header__line {
    position: relative;
}

.header__line::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: #1F2227;
    top: 50%;
    transform: translateY(-50%);
}

.main__content {
    display: flex;
    position: relative;
    margin-top: 83px;

}

.main__inner {
    flex: 0 1 50%;
    padding: 64px;
}

.main__inner-img {
    flex: 0 1 50%;
}

.main__inner-img:hover {
    opacity: .94;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
    transform: translateY(-3px);
}

.main__inner-title {
    font-family: 'Abril Fatface';
    font-weight: 400;
    font-size: 32px;
    line-height: 134%;
    text-transform: uppercase;
    color: #1F2227;
}

.main__inner :not(:last-child) {
    padding: 0px 0px 21px 0px;
}

.main__inner-paragraph {
    font-family: 'Alike' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #1F2227;
}


/*strelki left*/

.arrow__left {
    display: block;
    position: absolute;
    width: 16px;
    height: 32px;
    z-index: 3;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow__left::before,
.arrow__left::after {
    content: '';
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out 0s;

}

.arrow__left::before {
    transform: rotate(-42deg);
    top: 11px;
}

.arrow__left::after {
    transform: rotate(48deg);
    bottom: 11px;

}

/*strelki right*/

.arrow__right {
    display: block;
    position: absolute;
    width: 16px;
    height: 32px;
    z-index: 3;
    right: -42px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow__right::before,
.arrow__right::after {
    content: '';
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out 0s;

}

.arrow__right::before {
    transform: rotate(48deg);
    top: 11px;
}

.arrow__right::after {
    transform: rotate(-42deg);
    bottom: 11px;

}

.arrow__left:hover::before,
.arrow__left:hover::after {
    background-color: red;
}

.arrow__right:hover::before,
.arrow__right:hover::after {
    background-color: red;
}

.footer {
    margin: 32px 0px 0px 0px;
}

.footer__text p {
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
}

.header__burger {
    display: none;
}

@media (max-width: 1187px) {
    .arrow__left {
        display: none;
    }

    .arrow__right {
        display: none;
    }
}

@media (max-width: 981px) {
    .main__inner {
        padding: 43px;
    }

    .main__inner-img {
        scale: .8;
    }

}

@media (max-width: 933px) {

    .main__inner-img {
        display: none;
    }

    .main__inner {
        flex: 0 1 100%;
        padding: 23px;
    }
}

@media (max-width: 898px) {
    .header__items {
        display: none;
    }

    .header__menu {
        flex: 0 1 auto;
    }
}

/*burger menu*/
@media (max-width: 767px) {


    /*borger_menu*/
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 21;
    }

    .header__burger span {
        position: absolute;
        background-color: #000000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all .3s ease 0s;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }


/*strelki*/
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span{
        scale: 0;
    }
    /*strelki*/

    /*borger_menu*/

    /*menu delaem fixirovanim*/



/*=============== pozicioniruem burger v nujnoe mesto*/
.header__inner {
    display: flex;
    justify-content: space-between;
}



/*==============*/

    .menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #379AD6;
        padding: 70px 10px 20px 20px;
        transition: all .3s ease 0s;
    }
    .menu.active {
        top: 0;
    }


    .header::before {
        z-index: 20;
    }

    .header__logo {
        z-index: 21;
    }

    .menu__list {
        display: block;
    }

    .menu__item{
        padding-bottom: 15px;
    }

    .menu__link {
        font-size: 24px;
        color: #fff;
    }

    .main__inner-title {
        font-size: 24px;
    }

    .main__inner {
        padding-top: 1px;
    }

}