*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
/*sbrasivaem vse brauzernie stili*/

body{
    padding: 30px;
}
.block{
    margin: 0px 0px 30px 0px;
}
/*.block:hover{deistvie pri navedenii mishi na blok block
    background: blue;
}*/

.block p{
font-size: 18px;
line-height: 24px;
margin: 0px 0px 20px 0px;
}

.link{
    color: red;
}
.link:visited{/*deistvie pri poseshenoi silke*/
    color:green;
}
.link:hover{
    text-decoration: underline;
    color: blue;
}
.link:active{/*srabativaet pri najatii na element vosnovnom dlya silok ili knopok*/
color: yellow;
}

.textinput:focus{/*srabativaet pri sfokusirovanom elemente*/
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.textinput {
    border: 1px solid #666;
    width: 300px;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    margin: 0px 0px 10px 0px;
}

.textbutton {
    display: block;
    width: 300px;
    height: 50px;
    background-color: #666;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
}
.textbutton:hover{
    background-color:#333;
    color: yellow;
}
.textbutton:active{
    background-color:#eee;
}

.list li{
    font-size: 18px;
    margin: 0px 0px 15px 0px;
}
.list li:first-child{ /*obrashaetsya k pervomu elementu li*/
    color:green;
}
.list li:last-child{/*obrashaetsya k poslednemu elementu li*/
    color: yellow;
    font-weight: 700;
}
.list li:nth-child(4){ /*obrashenie k konkretnomu elementu spiska*/
text-decoration: underline;
}
/*
odd -  primenyaetsya ko vsem nechetnim elementam
even - primenyaetsya ko vsem chetnim elementam
*/

/*.block p:last-child{delaem verxni registr u poslednego elementa u block
    text-transform:uppercase;
}*/

.block p:nth-child(odd){/*obrashenie k nechetnim elementam 1-3*/
    background-color:yellow;
}

.block p:nth-child(2):hover{/*pri navedenii na vtoroi element menyaetsya cvet*/
    background-color: #555;
}

