@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');
/* font-family: 'Miniver', cursive; */

@font-face {
    font-family: 'Stolzl_bold';
    src: url('../fonts/Stolzl-Bold.eot');
    src: url('../fonts/Stolzl-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stolzl-Bold.woff2') format('woff2'),
        url('../fonts/Stolzl-Bold.woff') format('woff'),
        url('../fonts/Stolzl-Bold.ttf') format('truetype'),
        url('../fonts/Stolzl-Bold.svg#Stolzl-Bold') format('svg');
    font-weight: 700;
    /*bold */
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl_medium';
    src: url('../fonts/Stolzl-Medium.eot');
    src: url('../fonts/Stolzl-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stolzl-Medium.woff2') format('woff2'),
        url('../fonts/Stolzl-Medium.woff') format('woff'),
        url('../fonts/Stolzl-Medium.ttf') format('truetype'),
        url('../fonts/Stolzl-Medium.svg#Stolzl-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl_Book';
    src: url('../fonts/Stolzl-Book.eot');
    src: url('../fonts/Stolzl-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stolzl-Book.woff2') format('woff2'),
        url('../fonts/Stolzl-Book.woff') format('woff'),
        url('../fonts/Stolzl-Book.ttf') format('truetype'),
        url('../fonts/Stolzl-Book.svg#Stolzl-Book') format('svg');
    font-weight: 400;
    /*normal*/
    font-style: normal;
}



@font-face {
    font-family: 'Stolzl_regular';
    src: url('../fonts/Stolzl-Regular.eot');
    src: url('../fonts/Stolzl-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stolzl-Regular.woff2') format('woff2'),
        url('../fonts/Stolzl-Regular.woff') format('woff'),
        url('../fonts/Stolzl-Regular.ttf') format('truetype'),
        url('../fonts/Stolzl-Regular.svg#Stolzl-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border: none;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


body {
    font-family: 'Stolzl_regular';
    font-size: 16px;
    background-color: #FAFAFA;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px;
}

/* .info_container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
} */

.header__inner-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}

.header__inner-logo img {
    cursor: pointer;
    display: block;
}


.menu__items {
    display: flex;
}

.menu__items li:not(:last-child) {
    padding-right: 60px;
}

.menu__items .menu__item-link {
    font-size: inherit;
    color: #333333;
}


.header__inner-btn .btn {
    text-transform: uppercase;
    font-family: 'Stolzl_bold';
    font-size: inherit;
    font-weight: 600;
    color: #fff;
    padding: 18px 42px;
    background-color: #05581C;
    border-radius: 30px;
    letter-spacing: .6px;
    cursor: pointer;
}



.delivery {
    margin-bottom: 173px;
    position: relative;
}

.delivery__inner-items {
    display: flex;
    /* position: relative; */
}

.delivery__inner-item {
    padding-top: 327px;
    /* position: relative; */
}



.delivery__title {
    font-family: 'Stolzl_bold';
    font-size: 63px;
    color: #05581C;
    padding-bottom: 50px;
}

.delivery__title span {
    font-family: 'Stolzl_regular';
    display: block;
    color: #333;
    letter-spacing: 1px;
    font-size: 62px;
}

.delivery__text {
    font-family: 'Stolzl_Book';
    color: #366126;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 43px;
}

.delivery__item-btns {
    display: flex;
    gap: 30px;
}

.delivery__item-btns .btn {
    font-family: 'Stolzl_bold';
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 40px;


}

.delivery__first {
    background-color: #F8FFF5;
    border: 3px solid #05581C;
    color: #05581C;
    padding: 24px 58px;
}

.delivery__second {
    background-color: #05581C;
    color: #FFFFFF;
    padding: 24px 70px;
}

.delivery .img {
    position: absolute;
    right: 0px;
    z-index: -1;
}

.delivery img {
   width: 100%;
   height: auto;
}

.info {
    margin-bottom: 151px;
}

.info__inner-items {
    display: flex;
    flex-wrap: wrap;
    min-width: 430px;
    gap: 25px;
}

.info__inner-box {
    max-width: 277px;
}

.info__inner-item {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 32px 27px 32px 30px;
    max-width: 430px;
    gap: 30px;
    /* align-items: center; */
}

.info__inner-title {
    font-family: 'Stolzl_bold';
    font-size: 18px;
    color: #363333;
    padding-bottom: 20px;
}

.info__inner-text {
    font-family: 'Stolzl_Book';
    font-size: 16px;
    color: #666666;
    line-height: 24px;
}

.info__inner-img img {
    cursor: pointer;
}

.info__item {
    /* padding: 0px 36px; */
    /* flex: 0 1 33.3333%;
    padding: 0px 0px 76px 0px; */
}



.about__inner-title::before {
    content: '';
    position: absolute;
    background-image: url("../img/decore/unsplash__.svg");
    background-repeat: no-repeat;
    width: 205px;
    height: 188px;
    top: -95px;
    left: -99px;
    transform: rotate(358deg);
    z-index: -1;
}

.about__inner-items {
    display: flex;
}

.about__inner-item {
    max-width: 619px;
}

.about__inner-title {
    font-family: 'Stolzl_bold';
    font-size: 48px;
    line-height: 140%;
    color: #333333;
    padding: 0px 0px 30px 0px;
    position: relative;
}

.about__inner-text {
    font-family: 'Stolzl_Book';
    font-size: 20px;
    line-height: 32px;
    color: #626262;
    padding: 0px 0px 30px 0px;
}

.about__inner-text p:not(:last-child) {
    padding-bottom: 30px;
}

.about__inner-btn {
    color: #05581C;
    font-size: 16px;
    font-family: inherit;
    border: 1.5px solid #05581C;
    padding: 21px 54px;
    border-radius: 30px;
    background-color: #FAFAFA;
}

.about__inner-img {
    position: absolute;
    right: 0px;
    z-index: -1;

}

.about__inner-img img {
    /* position: absolute; */
    width: 100%;
    height: auto;
}


/* font-family: 'Stolzl_medium'; */

.options {
    margin-top: 54px;
}


	
.options__inner input {
    display: none; 
}

.castom_chkbox {
display: inline-block;
position: relative;
width: 32px;
height: 32px;
top: 2px;
left: 0px;
border-radius: 8px;
background-color: #05581C;
border: none;
cursor: pointer;
margin-right: 4px;
}

.castom_chkbox::before {
content: '';
display: inline-block;
width: 13px;
height: 13px;
margin-left: 9px;
margin-top: 10px; 
background-image: url('../img/chkbox/chkb.svg');
scale: 0;
background-size: contain;
background-repeat: no-repeat;
transition: all .2s ease;
}

.options__inner input:checked + .castom_chkbox:before {
    scale: 1;
} 


.options__inner {
    display: flex;
}

.options__inner label {
   display: inline-block;
   margin: 0px 118px 30px 0px;
   font-family: 'Stolzl_medium';
   font-size: 18px;
   line-height: 28px;
}


.delicious {
    margin-top: 106px;
}

.delicious__inner-items {
    display: flex;
    gap: 360px;
    position: relative;
}

.delicious__inner-item {
    max-width: 526px;
}

.delicious__inner-item::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 313px;
    width: 385px;
    height: 516px;
    background-image: url(../img/delicious/img-2.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    z-index: 1;
}

.delicious__inner-item::after {
    content: '';
    position: absolute;
    top: -101px;
    left: 306px;
    width: 100%;
    height: 100%;
    background-image: url(../img/delicious/img-3.svg);
    background-repeat: no-repeat;
    z-index: -1;
}

.delicious__inner-signature {
    font-family: 'Miniver', cursive;
    line-height: 26px;
    font-size: 24px;
    color: #05581C;
    padding-bottom: 10px;
    position: relative;
}

.delicious__inner-signature::after {
    content: '';
    position: absolute;
    top: 18px;
    left: 131px;
    width: 34px;
    height: 1px;
    background-color: #05581C;

}

.delicious__inner-title {
    font-family: 'Stolzl_medium';
    font-size: 48px;
    line-height: 56px;
    color: #333333;
    padding-bottom: 29px;
}


.delicious__inner-text {
    font-family: 'Stolzl_Book';
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    padding-bottom: 30px;
}


.inner__box-text {
    font-family: 'Stolzl_medium';
    font-size: 18px;
    line-height: 28px;
    color: #4F4F4F;
}



.delicious__inner_box-item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 11px 96px 11px 15px;
    background-color: #fff;
    border-radius: 4px 6px 6px 4px;
    max-width: 380px;
    height: 77px;
    box-shadow: 0 0 250px 0px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #195A00;
}

.delicious__inner_box-item img {
    padding-right: 15px;
    width: 56px;
    height: 56px;
}

.delicious__inner_box-item:not(:last-child) {
    margin-bottom: 15px;
}
