@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    vertical-align: top;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%); */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact__inner {
    display: flex;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    padding: 40px;
}

.left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    position: relative;
}

.left_side::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 70%;
    background-color: #afafb6;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.right_side {
    width: 75%;
    margin-left: 75px;
}

.address__contact {
  text-align: center;
  margin-bottom: 15px;
}

.fa-solid, .fas {
    font-weight: 900;
}

.address__contact i {
    font-size: 25px;
    color: #3e2093;
    margin-bottom: 10px;
    cursor: pointer;
}

.address__contact i:hover {
    scale: 1.3;
    cursor: pointer;
    transition: all .2s ease 0s ;
}

.address__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
}

.contacts {
    font-size: 14px;
    color: #afafb6;
}

.topic {
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
    margin-bottom: 10px;
}

.right_side p {
    margin-bottom: 20px;
}

.input__box {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.input__box input,  .input__box textarea{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #f0f1f8;
    padding: 0 20px;
}

.message__box {
    min-height: 110px;
}

.input__box textarea {
    padding: 20px;
    border: none;
    font-family: "Roboto", sans-serif;
    resize: none;
}

.button {
    display: inline-block;
}

.button input[type="submit"] {
    color: #fff;
    font-size: 18px;
    background: #3e2093;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s;
    cursor: pointer;
}