html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .accordion {
    margin: 20px;
} */


.accordion {
    margin-bottom: 100px;
} 

.accordion__item {
    border: 1px solid #d2d2d2;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-overflow: ellipsis;
    user-select: none;
    width: 600px;
    overflow: hidden;
    height: 40px;
}

.accordion__item:not(:last-child) {
    margin-bottom: 10px;
}

.accordion__item:focus {
 height: calc(100vh - 40px);
}


#reading-progress {
    fill: none;
    stroke: #00afca;
    stroke-width: 10px;
    /* stroke-linecap: round; */
    stroke-linecap: butt;
    position: relative;
}

#reading-progress2 {
    fill: none;
    stroke: #a6aaab;
    stroke-width: 10px;
}

.circle__text {
    fill: #6bdba7;
    font-size: 52px;
    font-weight: 600;
    /* <text class="circle__text" x="150" y="150" fill="#6bdba7" font-size="52px" font-weight="bold" style="transform:rotate(90deg) translate(0px, -196px)">50%</text> */
}


/* .svg__box {
    position: absolute;
    top: 0;
    left: 0;
} */