html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

img {
    vertical-align: top;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 100%;
}


body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    background-color: #f9f9f9;
}


.container {
    max-width: 1410px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ////////////////header////////////////// */

.wrapper__header {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-bottom: 1px solid #E0E0DD;
}

.wrapper__header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;

}

.header__leftside img {
    width: 22px;
    height: 22px;
}


.header__leftside {
    display: flex;
}

.header__item-cases {
    display: flex;
    gap: 8px;
    margin-right: 38px;
    align-items: center;
}

.header__item-products {
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
}

.header__item-products::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -19px;
    width: 1px;
    height: 100%;
    background-color: #E0E0DD;
}

.header__item_product-text {
    font-weight: 600;
    font-size: 14px;
    color: #343434;
}

.item__products-title {
    color: #787774;
    font-weight: 400;
}

.header__rightside {
    display: flex;
    align-items: center;
}

.header__rightside-alert {
    margin-right: 48px;
    position: relative;
    cursor: pointer;
}

.header__rightside-alert::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -24px;
    height: 100%;
    width: 1px;
    background-color: #E0E0DD;
}

.header__rightside-alert::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0px;
    right: 0px;
    background-color: #333333;
    border-radius: 50%;
    border: 1px solid #F9F9F9;
}

.header__rightside-btn {
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 30px;
    background-color: #333333;
    border-radius: 8px;
    margin-right: 24px;
    transition: all .1s ease-in-out;
}

.header__rightside-btn:hover {
    background-color: #444444;
}



.rightside__profile-img {
    width: 36px;
    height: 36px;
}

.header__rightside-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}




/* ////////////////main item one////////////////// */

.main__items {
    display: flex;
    gap: 20px;
    margin-bottom: 28px;
}

.main__item {
    /* max-width: 877px;
    margin-bottom: 28px; */
}

.main__item-barcode {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 17px 15px 26px 15px;
    border: 1px solid #E0E0DD;
    margin-bottom: 20px;
}

.barcode__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.barcode__header-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.barcode__header-item img {
    width: 50px;
    height: 50px;
}

.barcode__header_item-title {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}

.barcode__header_item-position {
    font-size: 14px;
    color: #333333;
}

.barcode__header_item-btn {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 12px 51px 12px 71px;
    background-color: #333333;
    border-radius: 8px;
    transition: all .1s ease-in-out;
}

.barcode__header_item-btn:hover {
    background-color: #444444;
}

.barcode__main-bg {
    width: 100%;
    border-radius: 8px;
}

.barcode__main-img {
    position: relative;
    margin-bottom: 15px;
}

.barcode__main_img-automation {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 9px 8px 9px 28px;
    background-color: #fff;
    border-radius: 4px;
}

.barcode__main_img-automation::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    background-color: #787774;
}

.barcode__main_img-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.barcode__main_img-icons img {
    width: 20px;
    height: 20px;
}

.barcode__main_img-icons a {
    padding: 9px 12px;
    background-color: #fff;
    border-radius: 2px;
}

.barcode__main-descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #E0E0DD;
    margin-bottom: 15px;
}

.barcode__main-title {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}

.barcode__main_descr-items {
    display: flex;
    gap: 28px;
}

.barcode__main_descr-item {
    display: flex;
    align-items: center;
    gap: 10px;

}

.barcode__main_descr-item img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.barcode__main_descr-item span {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}

.barcode__main-text p {
    font-size: 14px;
    color: #333333;
}

.barcode__main-text-item:not(:last-child) {
    padding-bottom: 15px;
}

.barcode__main-text {
    padding-right: 10px;
    margin-bottom: 38px;
}



.barcode__main_footer-items .decore:not(:last-child) {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #E0E0DD;
}

.barcode__main_footer-items span {
    display: inline-block;
    padding: 5px 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 115%;
    border-radius: 2px;
    color: #333333;
}

.barcode__main_footer-tool span {
    padding: 4px 8px;
}

.barcode__main_footer-mailchimp span {
    background-color: #F0F0F0;
}

.barcode__main_footer-mailchimp span:not(:last-child) {
    margin-right: 10px;
}

.barcode__main_footer-tool span {
    border: 1px solid #E0E0DD;
}

.barcode__main_footer-tool span:not(:last-child) {
    margin-right: 10px;
}

/* ////////////////main item reviews////////////////// */

.reviews {
    padding: 17px 15px 26px 15px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #E0E0DD;
}

.reviews__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.reviews__header-title {
    font-size: 24px;
    font-weight: 700;
}

.reviews__header-search input {
    padding: 13px 183px 13px 17px;
    border-radius: 6px;
    background-color: #F9F9F9;
    border: 1px solid #E0E0DD;
}

.reviews__header-search input::placeholder {
    font-size: 14px;
    font-family: inherit;
    color: #787774;
}

.reviews__header-search {
    position: relative;
}

.reviews__search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 17px;
}

.reviews__statistics {
    display: flex;
    gap: 15px;
}

.reviews__question {
    font-size: 16px;
    color: #333333;
    padding: 11px 20px;
    border-radius: 5px;
    background-color: #F0F0F0;
}

.reviews__question span {
    font-weight: 700;
    font-size: 16px;
}

.reviews__comment {
    font-size: 16px;
    color: #333333;
    padding: 11px 20px;
}

.reviews__comment span {
    font-weight: 700;
    font-size: 16px;
}

.reviews__statistics {
    margin-bottom: 13px;
}


.reviews__inputs {
    position: relative;
    margin-bottom: 24px;
}

.reviews__input {
    padding: 15px 15px 15px 60px;
    width: 100%;
    border: 1px solid #E0E0DD;
    background-color: #fff;
    border-radius: 5px;
}

.reviews__input::placeholder {
    font-size: 14px;
    color: #787774;
}

.reviews__profile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.reviews__btns {
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
}

.reviews__btns .btn {
    font-size: 14px;
    padding: 10px 17px;
    border-radius: 8px;
}

.reviews__add {
    color: #fff;
    background-color: #333333;
}

.reviews__cancel {
    border: 1px solid #333333;
    color: #333333;
}

.reviews__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0DD;
    margin-bottom: 15px;
}

.reviews__filter-title {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    font-family: inherit;
}

.reviews__filter-comments {
    display: flex;
    align-items: center;
    gap: 20px;
}

.reviews__filter-comment {
    position: relative;
}


.reviews__comments-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    cursor: pointer;
}

.reviews__sort {
    padding: 11px 40px 11px 16px;
    background-color: #F9F9F9;
    border-radius: 6px;
    border: 1px solid #E0E0DD;
    color: #787774;
    font-size: 14px;
}

.reviews__sort span {
    color: #333333;
    margin-left: 9px;
    cursor: pointer;
}

.reviews__comments-hide {
    font-size: 12px;
    color: #333333;
    opacity: 47%;
    cursor: pointer;
}

.reviews__showing {
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

.reviews__showing-items {
    font-size: 14px;
    color: #333333;
}

.reviews__showing-current {
    font-weight: 700;
}

.reviews__showing-all {
    font-weight: 700;
}

.reviews__post-header {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 12px;
}

.reviews__post-title {
    font-weight: 700;
    font-size: 14px;
    color: #333333;
}

.reviews__post-descr {
    font-size: 12px;
    color: #333333;
    opacity: 47%;
}

.reviews__post-text {
    font-size: 14px;
    color: #333333;
    line-height: calc(26 / 14 * 100%);
}

/* /////////////card///////////// */

.main__item-cards {
    padding: 20px 25px 26px 25px;
    border: 1px solid #E0E0DD;
    border-radius: 6px;
    min-width: 483px;
    overflow-y: scroll;
}

.cards__title {
    color: #333333;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid #E0E0DD;
    margin-bottom: 20px;
}

.card__inner-header {
    position: relative;
}

.card__inner-header .card-img {
    width: 100%;
    border-radius: 6px 6px 0px 0px;
    object-fit: cover;
    /* aspect-ratio: 1 / 1; */
}

.card__inner-automation {
    position: absolute;
    top: 10px;
    left: 8px;
    padding: 9px 8px 9px 28px;
    border-radius: 2px;
    background-color: #fff;
    font-size: 12px;
    line-height: 115%;
    color: #333333;
}

.card__inner-automation::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #787774;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}



.card__inner-icons {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 10px;
    right: 8px;
    z-index: 1;
}

.card__inner-icons img {
    width: 20px;
    height: 20px;
}



.card__link-rate {
    padding: 9px 12px;
    background-color: #ffffff;
    border-radius: 2px;
}

.card__link-share {
    padding: 9px 12px;
    background-color: #ffffff;
    border-radius: 2px;
}

.card__follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    background-color: #F0F0F0;
    border-radius: 6px 6px 0px 0px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.card__follow-prifile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card__follow-img {
    width: 35px;
    height: 35px;
}

.card__follow-title {
    font-weight: 600;
    color: #333333;
    font-size: 18px;
}

.card__follow-btn {
    display: flex;
    gap: 7px;
    font-size: 16px;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #333333;
    transition: all .1s ease-in-out;
}

.card__follow-btn:hover {
    background-color: #444444;
}

.card__title {
    font-weight: 600;
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

.card__text {
    font-size: 14px;
    color: #898989;
    margin-bottom: 15px;
}

.card__suggestions {
    margin-bottom: 12px;
}

.card__suggestions span {
    display: inline-block;
    font-size: 12px;
    line-height: 115%;
    color: #333333;
    font-weight: 500;
}

.card__suggestion-mailchimp span {
    background-color: #F0F0F0;
    border-radius: 2px;
    padding: 5px 8px;
}

.card__suggestion-mailchimp {
    padding-bottom: 12px;
    border-bottom: 1px solid #E0E0DD;
    margin-bottom: 12px;
}

.card__suggestion-tools span {
    padding: 4px 8px;
    border: 1px solid #E0E0DD;
    background-color: #ffffff;
}

.card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* min-height: 60px; */
    background-color: #E4E4E4;
    border-radius: 0px 0px 6px 6px;
}

.card__footer_item-inner {
    flex: 0 1 50%;
    padding: 13px 0;
}

.card__footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card__footer .decore {
    border-right: 1px solid #D6D6D6;
}

.card__footer-item img {
    cursor: pointer;
}

.card__inner-main {
    margin-top: -25%;
    z-index: 5;
    position: relative;
    background-color: #ffffff;
}

.main__item-cards .card:not(:last-child) {
    margin-bottom: 20px;
}




/*//////////////////////scroll/////////////////////////////*/
/* Ширина и цвет полосы прокрутки */
.main__item-cards::-webkit-scrollbar {
    width: 10px;
    /* Ширина полосы */
}

/* Стиль ползунка (бегунка) */
.main__item-cards::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Цвет ползунка */
    border-radius: 5px;
    /* Скругление углов ползунка */
}

/* Стиль трека (фона) полосы прокрутки */
.main__item-cards::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    /* Цвет трека */
}

/*//////////////////////scroll/////////////////////////////*/


@media (max-width: 1180px) {
    .main__items {
        display: block;
    }

    .cards {
        display: none;
    }
}

@media (max-width: 700px) {
    .barcode__main-title {
        font-size: 18px;
    }

    .reviews__header-title {
        font-size: 18px;
    }
}

@media (max-width: 680px) {
    .barcode__main_footer-tool {
        display: flex;
        flex-wrap: wrap;
    }

    .barcode__item {
        margin-bottom: 12px;
    }
}

@media (max-width: 630px) {
    .header__leftside {
        display: none;
    }

    .wrapper__header-inner {
        display: flex;
        justify-content: right;
    }

    .reviews__header-title {
        display: none;
    }

    .reviews__header-search input {
        width: 100%;
    }

    .reviews__header-search {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .barcode__main-title {
        font-size: 16px;
    }

    .reviews__filter-title {
        font-size: 16px;
    }
}

@media (max-width: 530px) {
    .reviews__filter-title {
        display: none;
    }

    .barcode__main-descr {
        display: block;
    }

    .barcode__main-title {
        margin-bottom: 12px;
    }

}

@media (max-width: 480px) {
    .barcode__header {
        display: block;
    }

    .barcode__header-item {
        margin-bottom: 12px;
    }

    .barcode__header_item-btn {
        width: 128px;
        padding: 12px 20px 12px 20px;
    }

}

@media (max-width: 440px) {
    .reviews__filter-comments {
        display: block;
    }

    .reviews__filter-comment {
        margin-bottom: 12px;
    }
}

@media (max-width: 410px) {
    .reviews__statistics {
        display: block;
    }
    .reviews__question {
        /* margin-bottom: 12px; */
        width: 200px;
    }
}