@font-face {
    font-family: 'Helvetica_Bold';
    src: url('../fonts/HelveticaBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica_Medium';
    src: url('../fonts/HelveticaMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica_Light';
    src: url('../fonts/HelveticaLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
