html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #19212d;
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 42rem;
    text-align: center;
    padding: 30px 22px;
}

.container h1 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

.searchBox {
    background-color: #161a22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 6px;
}

.searchBox input {
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 80%;
    color: #fff;
    font-size: 15px;
}

.searchBox button {
    background-color: #6263ff;
    color: #fff;
    padding: 5px 15px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease;
}

.searchBox button:hover {
    background-color: #6a6bd0;
}

.details {
    margin-top: 20px;
    background-color: #161922;
    padding: 20px 25px;
    border: 1px solid #999;
    border-radius: 6px;
    display: none;

}

.profile {
    display: flex;
}

.profile-image {
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
}

.profile-details {
    padding: 10px;
    width: 25rem;
}

.username {
    font-size: 13px;
    color: #675afe;
}

.bio {
    font-size: 14px;
    margin-top: 10px;
}

.stats {
    background-color: #20232c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #999;
    border-radius: 6px;
}

.media {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.media p {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 13px;

}