@import url('./fonts.css');
@import url('./null.css');

body {
    font-family: 'Comic Neue', sans-serif;
    font-size: 16px;
}


[class*="__container"] {
    max-width: 1044px;
    padding-inline: 10px;
    margin: 0 auto;
}

.wrapper__item {
    /* width: 300px; */
    width:  100%;
    height: 170px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    transition: all .3s ease-in-out;
}

.wrapper__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     grid-gap: 5px;
    /*justify-items: center; */
/* 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px; */
}

@media (any-hover: hover) {
    .wrapper__item:hover {
        background-color: rgba(0, 0, 0, .05);
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}


@media (max-width: 760px) {
   

    /* .wrapper__items {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    } */
}


/* @media (max-width: 530px) {
    .wrapper__item {
        width: 100%;
        /* width: 365px; 
    }

} */

/*@ media (max-width: 960px) {
    .wrapper__item {
        width: 227px;
    }

    .wrapper__items {
        grid-template-columns: repeat(auto-fill, minmax(227px, 1fr));
    }
}

@media (max-width: 958px) {
    .wrapper__item {
        width: 227px;
    }

    .wrapper__items {
        grid-template-columns: repeat(auto-fill, minmax(227px, 1fr));
        grid-gap: 20px;
    }
} */