.inp {
    position: relative;

    input {
        max-width: 209px;
        height: 50px;
        border-radius: 8px;
        background-color: #fff;
        border: none;
        border: 1px solid #ddd;
        padding: 14px 82px 14px 13px;
        color: #999;
        font-size: 15px;
        text-transform: uppercase;
    }

    input[type="date"]:hover::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 50%;
        right: 13px;
        transform: translateY(-50%);
        /* padding: 10px; */
        color: rgba(0, 0, 0, 0);
        opacity: 0;
    }

    i {
        position: absolute;
        /* width: 18px;
        height: 24px; */
        top: 50%;
        right: 13px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #17C3B2;
    }

}








/* .inp input[type="date"] {
    position: relative;
} */

