html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    /* color: #2d3e50; */
    color: #7c7d9c;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.header__logo {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.header__logo:active {
    transition: all .1s ease-in-out;
    scale: 1.05;
}

.logo__img {
    width: 80px;
    height: auto;
    display: block;
}



header {
    border-bottom: 1px solid #f5f5f4;
    margin-bottom: 20px;
}



.header__contact {
    position: relative;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.header__btn {
    padding: 10px;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
}

.header__btn:hover {
    background-color: #f1f8f9;
}

.contact__img {
    width: 30px;
    height: auto;
}

.contact__inner {
    position: relative;
}

.status {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #37b757;
    /* background-color: #ffba00; */

}

.contact__inner .status {
    top: -3px;
    right: 0;
}



/* //////////card//////// */
.help {
    visibility: hidden;
    scale: 0;
    position: absolute;
    right: 10px;
    bottom: -18px;
    transform: translateY(100%);
    width: 280px;
    height: auto;
    padding: 0px 15px 15px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 16px 0 #00000029;
    cursor: initial;
    background-color: #fff;
    z-index: 5;
}


.show {
    visibility: visible;
    scale: 1;
    transition: all .2s ease;
}

/* .hide {
    visibility: hidden;
    scale: 0;
    transition: all .2s  ease-in-out;
} */

.help__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid #f5f5f4;
    margin-bottom: 14px;
    /* padding-bottom: 13px; */
}

.help__header-text {
    font-size: 18px;
    color: #2d3e50;
    font-weight: 600;
}

.help__close {
    cursor: pointer;
}

.help__close i {
    font-size: 20px;
    color: #adb3ba;
}

.help__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14px;
    margin-bottom: 17px;
    border-bottom: 1px solid #f5f5f4;
}

.help__profile {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.help__main-img {
    position: relative;
    margin-bottom: 20px;
}

.help__main-img .status {
    top: 5px;
    right: 2px;
}

.help__athor {
    font-family: 19px;
    font-weight: 600;
    color: #2d3e50;
    margin-bottom: 8px;
}

.help__title {
    color: #00afca;
    padding: 3px 8px;
    background-color: #00afca1a;
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 25px;
}

.help__text {
    font-size: 12px;
    margin-bottom: 5px;
}

.help__email,
.help__whatsapp,
.help__telegram {
    padding: 15px;
    border-radius: 7px;
    background-color: #f1f8f9;
    /* background-color: #1f2020; */
}

.help__contacts i {
    color: #00afca;
    font-size: 20px;
}

.help__contacts {
    display: flex;
    gap: 10px;
}

.help__contacts a {
    cursor: pointer;
}


.help__contacts a:hover,
.help__contacts a:hover .fa-solid,
.help__contacts a:hover .fa-brands {
    background-color: #00afca;
    color: #fff;
}




.help__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.help__footer-text {
    font-size: 12px;
}

.help__footer-phone {
    font-size: 20px;
    font-weight: 600;
}

.help__footer-phone:hover {
    text-decoration: underline;
}

.work__from-time * {
    font-size: 12px;
}

/* //////////card_end//////// */

.main__inner {
    display: flex;
    gap: 20px;
}

.main__inner-text {
    flex: 0 1 75%;
    border: 1px solid #f5f5f4;
    border-radius: 10px;
    padding: 20px 10px 20px 20px;
    /* height: calc(100vh - 80px); */
}




/* /////Scroll/////// */
.main__inner-right::-webkit-scrollbar {
    width: 5px;
}

.main__inner-right::-webkit-scrollbar-thumb {
    background-color: #c6c6c6;
    border-radius: 2px;
}

/* /////Scroll/////// */


.main__inner-desc .descr__item {
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    text-wrap: wrap;
    position: relative;
    color: #2d3e5080;
}





.main__inner-right {
    flex: 0 1 25%;
    border: 1px solid #f5f5f4;
    /*f5f5f4*/
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    height: 70vh;
    position: sticky;
    top: 0px;
    overflow-y: auto;
    background-color: #fff;
}

.descr__item {
    position: relative;
}

.descr__item.active::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #00afca;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.main__inner-desc .descr__item.active {
    color: #2d3e50;
    background-color: #efefef;
    transition: all .1s ease-in-out;
    /* border-left: 3px solid #00afca; */
}

.descr__title {
    font-size: 23px;
    color: #2d3e50;
    font-weight: 600;
}

.descr__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    /* padding-bottom: 0px 10px 25px; */
}

.descr__header .descr__up {
    color: #00afca;
    /* font-size: 24px; */
    cursor: pointer;
}

.descr__up-link {
    display: flex;
    gap: 8px;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}



.descr__up-text:hover {
    text-decoration: underline;
}


/* //////////Posts////////// */

/* .introduction {
    line-height: 1.35rem;
} */



.indent {
    text-indent: 30px;
}

.introduction p:not(:last-child) {
    margin-bottom: 8px;
}

.note__inner {
    display: inline-block;
    border-radius: 0px 6px 6px 0px;
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    background-color: #f1f8f9;
    border-left: 3px solid #00afca;
}

.note {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f5f5f4;
    /* f5f5f4 */
}

.paddingb {
    padding-bottom: 30px;
}

.borderb {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 10px;
    display: block;
    position: relative;
}

.martginb {
    margin-bottom: 20px !important;
}

.link {
    font-weight: 600;
}

.abbr {
    font-weight: 600;
}



/* ////////////// */
.method__header {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.method__descr {
    margin-bottom: 20px;
    line-height: 120%;
    padding: 10px 0
}

.method__item-decore {
    padding: 1px 6px;
    background-color: #e9eef6;
    border-radius: 6px;
    font-weight: 500;
}

.method__title {
    font-weight: 500;
    margin-bottom: 5px;
}



.method__example-title {
    font-weight: 500;
    font-size: 18px;
}



.method__example {
    /* display: inline-block;*/
    padding: 10px 0px 10px 10px;
    max-width: 100%;
    background-color: #f0f4f9;
    border-radius: 15px;
    margin-bottom: 10px;
}

.method {
    margin-bottom: 60px;
    /*  padding-bottom: 30px;
    border-bottom: 1px solid #d2d2d2; */
}

.info {
    display: none;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    padding: 10px 10px 10px 13px;
    /* text-align: justify; */
    /* text-justify: inter-word; */
    /* border-radius: 0px 0px 7px 0px; */
}

.visible {
    display: block;

}

.array__methods pre {
    white-space: pre-wrap;
    text-wrap: wrap;
}

/* //////////Posts////////// */

.menu__btn {
    display: none;
}


/* #dark-overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998; 
    display: none; 
} */

.styled {
    border-radius: 15px 15px 0px 0px;
}





@media (max-width: 1210px) {
    .descr__title {
        font-size: 18px;
    }
}

@media (max-width: 1180px) {
    .main__inner {
        display: block;
    }

    .main__inner-text {
        padding: 0px;
        border-radius: 0px;
        border: none;

    }



    .main__inner-right {
        position: fixed;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        padding: 24px 5px 24px 5px;
        overflow: initial;
        height: 40vh;
        top: initial;
        left: 0px;
        bottom: -100%;
        background-color: #fff;
    }

    .descr__header {
        margin-bottom: 15px;
    }

    .main__inner-right.showmenu {
        bottom: 0%;
        transition: all .2s ease-in-out;
    }



    .descr__inner {
        height: calc(35vh - 37px);
        overflow: auto !important;
        padding-bottom: 15px;

        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }




    /* showonbtn */

    .wrapper {
        position: relative;
    }


    .menu__btn {
        position: fixed;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0 0.25rem 0.75rem #00000052;
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 15px;
        bottom: 15px;
        font-size: 20px;
        color: #d2d2d2;
        background-color: #fff;
        cursor: pointer;

        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    /* showonbtn */



    /* for progress */
    .svg__box {
        position: absolute;
        top: -1px;
        left: -1px;

        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    #reading-progress {
        fill: none;
        stroke: #00afca;
        stroke-width: 1px;
        /* stroke-linecap: round; */
        stroke-linecap: butt;
        position: relative;
    }

    /* for progress */
}




@media (max-width: 1000px) {
    .container {
        max-width: 1214px;
        margin: 0 auto;
        padding: 0 7px;
    }

    .method__example {
        border-radius: 10px;
    }
}

@media (max-width: 768px) {
    .code__style {
        font-size: 12px;
    }

    .method__header {
        font-size: 20px;
    }

    .method__descr {
        font-size: 13px;
    }

    .method__title {
        font-size: 13px;
    }

    .descr__inner .descr__item {
        font-size: 16px;
        padding: 8px 10px;
    }

    .methods .info {
        font-size: 13px;
    }


    .method__header {
        margin-bottom: 10px;
    }

    .method__descr {
        margin-bottom: 10px;
    }

    .method {
        margin-bottom: 40px;
    }

    .method__example {
        margin-bottom: 7px;
    }

    .descr__title {
        font-size: 14px;
    }

    .descr__up {
        font-size: 14px;
    }

    .main__inner-right {
        padding: 5px;
    }

    .header__inner {
        min-height: 40px;
    }

    .logo__img {
        width: 60px;
    } 

    .contact__img {
        width: 28px;
    } 

    .descr__header {
        padding: 10px 10px 0px 10px;
    }

    .descr__inner {
        padding-bottom: 10px;
    }

}