html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    /* background-color: rgba(0, 0, 0, .01); */
    background-color: #e0e0e0db;
    position: relative;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    padding-top: 15px;
}



h1 {
    text-align: center;
    font-weight: 600;
    font-size: clamp(1.375rem, -0.069rem + 7.222vw, 2.188rem);
    color: #d2d2d2;
    margin-bottom: 10px;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.svg__container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    max-width: 100%;
    /* Контейнер занимает всю ширину родительского элемента */
    height: auto;
    /* Высота контейнера подстраивается пропорционально ширине */
}




.svg-container svg {
    width: 100% !important;
    /* SVG занимает всю ширину контейнера */
    height: auto !important;
    /* Высота SVG подстраивается пропорционально ширине */
    display: block;
    /* Убирает возможные пробелы снизу */
}


.item {
    /* transition: all .1s ease-in-out; */
    cursor: pointer;
    transform-origin: center center;
    transform-box: fill-box;
}

.item:hover {
    fill: #91957f;
    /* Цвет заливки при наведении курсора */
}

.item.scal {
    position: relative;
    transform: scale(2.5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .8);
    fill: #3a3b34;
    position: relative;
    z-index: 10;

    /* position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(100%, -100%) scale(2.5);
            z-index: 10;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, .8);
            fill: #3a3b34; */
}

.red-border {
    filter: url(#shadow);
}

.stroke {
    stroke-width: 1.47;
    fill: #4f5048;
}

.point {
    cursor: zoom-in;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.point:active {
    transition: all .1s ease-in;
    fill: tomato;
}


.index {
    opacity: .4;
}

.municipal,
.cover,
.item {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.kobuleti-point {
    position: relative;
}


/* .sagarejo:hover {
fill: red;
} */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-height: 220px;
    padding: 10px;
    border-radius: 5px;
    border: 1px dashed #d2d2d2;
    background-color: #d2d2d2;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow-y: auto;
}

/* .modal__win {
    position: relative;
} */

.modal__close {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 10px;
    color: #000;
    cursor: pointer;
}

.modal::-webkit-scrollbar {
    width: 5px;
}

.modal::-webkit-scrollbar-thumb {
    background-color: #858585;
    border-radius: 2px;
}

.modal__inner img {
    width: 90px;
    height: auto;
    display: block;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
    pointer-events: none;
    cursor: pointer;
    /* transition: all .3s ease-in-out; */
    /* transform-origin: center center; */
    /* transform-box: fill-box; */

    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.modal__inner img:active {
    scale: 1.01;
}

.modal__descr {
    text-align: left;
    line-height: 110%;
    font-size: 12px;
}

.location {
    font-size: 10px;
    color:tomato;
    text-align: right;
    text-decoration: underline;
}


@media only screen and (max-device-width: 980px) and (orientation: landscape) {
    .container {
        max-width: 550px;
        object-fit: contain;
    }

    h1 {
        margin-bottom: 0px !important;
        position: absolute;
        top: 5px;
        right: 5px;
        transform: translateX(-7%);
        width: 150px;
        /* display: inline-block; */
        text-align: right;
        /*! display: flex; */
        /*! justify-content: left; */
        font-size: 15px;
        text-transform: uppercase;
    }

    .wrapper {
        padding-top: 5px !important;
    }

    .point:active {
        fill: tomato !important;
    }

    .point:active {
        fill: initial;

    }

}

/* @media (max-height: 600px) {

} */