html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    padding-top: 30px;
}



h1 {
    text-align: center;
    font-weight: 600;
    font-size: clamp(1.375rem, -0.069rem + 7.222vw, 2.188rem);
    color: #d2d2d2;
    margin-bottom: 20px;
}

.svg__container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* Контейнер занимает всю ширину родительского элемента */
    height: auto;
    /* Высота контейнера подстраивается пропорционально ширине */
}




.svg-container svg {
    width: 100%;
    /* SVG занимает всю ширину контейнера */
    height: auto;
    /* Высота SVG подстраивается пропорционально ширине */
    display: block;
    /* Убирает возможные пробелы снизу */
}


.kartli,
.kartli-point {
    transition: all .1s ease;
    cursor: pointer;
    transform-origin: center center;
    transform-box: fill-box;
}

.kartli:hover,
.kartli-point:hover {
    fill: #91957f;
    /* Цвет заливки при наведении курсора */
}

.kartli.scal,
.kartli-point.scal {
    position: relative;
    /* Для использования z-index */
    z-index: 1;
    transform: scale(3.5);
    /* Увеличение размера при активации */
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .8);
    fill: #3a3b34;
    position: relative; /* Для использования z-index */
    z-index: 10;
}

.index {
   opacity: .4;
}

@media (orientation: landscape) {
    .container {
        max-width: 500px;
    }
}